
.version.index {
    background-color: #30063b;
    color: #000016;
}
.html {
    background-color: white;
}
#page {
    background-color: transparent;
    background-image: none;
    border-color: #000000;
    border-style: none;
    margin-left: auto;
    margin-right: auto;
    min-height: 5456.66px;
    padding-bottom: 0;
    width: 940px;
    z-index: 1;
}
#page_position_content {
    margin-bottom: -402px;
}
#inicio {
    left: -1165px;
    position: relative;
}
#pu72 {
    margin-left: -100px;
    margin-top: -18px;
    padding-bottom: 100px;
    width: 0.01px;
}
#u72 {
    background-color: white;
    background-image: url("../images/bannerSup.png");
    background-origin: border-box;
    background-size: 119% auto;
    border-color: #000000;
    height: 95px;
    position: fixed;
    top: 0;
    z-index: 298;
}
#u72-bw {
    z-index: 298;
}
#u73 {
    background: rgba(0, 0, 0, 0) url("../images/Logo-300x100.png") no-repeat scroll center center;
    border-color: #000000;
    height: 100px;
    left: 35%;
    margin-left: -470px;
    position: fixed;
    top: 0;
    width: 300px;
    z-index: 299;
}
#u2407 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    left: 50%;
    margin-left: -155px;
    padding-bottom: 88px;
    position: fixed;
    top: 0;
    width: 625px;
    z-index: 314;
}
#buttonu2404 {
    background-color: transparent;
    border-color: #787878;
    left: 50%;
    margin-left: -155px;
    position: fixed;
    top: 0;
    width: 130px;
    z-index: 339;
}
#buttonu2404:hover {
    margin: 0 0 0 -155px;
}
#buttonu2404.ButtonSelected {
    margin: 0 0 0 -155px;
}
#u2406 {
    background-color: transparent;
    border-color: #ffffff;
    height: 10px;
    position: relative;
    width: 125px;
    z-index: 344;
}
.ie #u2406 {
    background-color: #8bc53f;
    opacity: 0.01;
}
#buttonu2404:hover #u2406 {
    background-color: #8bc53f;
    margin: 0;
}
.ie #buttonu2404:hover #u2406 {
    opacity: 1;
}
#buttonu2404.ButtonSelected #u2406 {
    background-color: #8bc53f;
    margin: 0;
}
#u2405-4 {
    background-color: transparent;
    line-height: 24px;
    margin-top: 28px;
    min-height: 50px;
    position: relative;
    width: 145px;
    z-index: 340;
}
#buttonu2404:hover #u2405-4 {
    margin: 28px 0 0;
    min-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu150 {
    background-color: transparent;
    border-color: #787878;
    left: 55%;
    margin-left: -30px;
    position: fixed;
    top: 0;
    width: 125px;
    z-index: 315;
}
#buttonu150:hover {
    margin: 0 0 0 -30px;
}
#buttonu150.ButtonSelected {
    margin: 0 0 0 -30px;
}
#u152 {
    background-color: transparent;
    border-color: #ffffff;
    height: 10px;
    position: relative;
    width: 125px;
    z-index: 320;
}
.ie #u152 {
    background-color: #8bc53f;
    opacity: 0.01;
}
#buttonu150:hover #u152 {
    background-color: #8bc53f;
    margin: 0;
}
.ie #buttonu2404.ButtonSelected #u2406, .ie #buttonu150:hover #u152 {
    opacity: 1;
}
#buttonu150.ButtonSelected #u152 {
    background-color: black;
    margin: 0;
}
#u151-4 {
    background-color: transparent;
    line-height: 24px;
    margin-top: 28px;
    min-height: 50px;
    position: relative;
    width: 125px;
    z-index: 316;
}
#buttonu2404.ButtonSelected #u2405-4, #buttonu150:hover #u151-4 {
    margin: 28px 0 0;
    min-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu150:hover #u151-4 p {
    color: black;
    visibility: inherit;
}
#buttonu192 {
    background-color: transparent;
    border-color: #787878;
    left: 56%;
    margin-left: 95px;
    position: fixed;
    top: 0;
    width: 125px;
    z-index: 333;
}
#buttonu192:hover {
    margin: 0 0 0 95px;
}
#buttonu192.ButtonSelected {
    margin: 0 0 0 95px;
}
#u194 {
    background-color: transparent;
    border-color: #ffffff;
    height: 10px;
    position: relative;
    width: 125px;
    z-index: 338;
}
.ie #u194 {
    background-color: #8bc53f;
    opacity: 0.01;
}
#buttonu192:hover #u194 {
    background-color: #8bc53f;
    margin: 0;
}
.ie #buttonu150.ButtonSelected #u152, .ie #buttonu192:hover #u194 {
    opacity: 1;
}
#buttonu192.ButtonSelected #u194 {
    background-color: black;
    margin: 0;
}
#u193-4 {
    background-color: transparent;
    line-height: 24px;
    margin-top: 28px;
    min-height: 50px;
    position: relative;
    width: 125px;
    z-index: 334;
}
#buttonu150.ButtonSelected #u151-4, #buttonu192:hover #u193-4 {
    margin: 28px 0 0;
    min-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu189 {
    background-color: transparent;
    border-color: #787878;
    left: 56%;
    margin-left: 220px;
    position: fixed;
    top: 0;
    width: 125px;
    z-index: 327;
}
#buttonu189:hover {
    margin: 0 0 0 220px;
}
#buttonu189.ButtonSelected {
    margin: 0 0 0 220px;
}
#u191 {
    background-color: transparent;
    border-color: #ffffff;
    height: 10px;
    position: relative;
    width: 125px;
    z-index: 332;
}
.ie #u191 {
    background-color: #8bc53f;
    opacity: 0.01;
}
#buttonu189:hover #u191 {
    background-color: #8bc53f;
    margin: 0;
}
.ie #buttonu192.ButtonSelected #u194, .ie #buttonu189:hover #u191 {
    opacity: 1;
}
#buttonu189.ButtonSelected #u191 {
    background-color: #8bc53f;
    margin: 0;
}
#u190-4 {
    background-color: transparent;
    line-height: 24px;
    margin-top: 28px;
    min-height: 50px;
    position: relative;
    width: 125px;
    z-index: 328;
}
#buttonu192.ButtonSelected #u193-4, #buttonu189:hover #u190-4 {
    margin: 28px 0 0;
    min-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu186 {
    background-color: transparent;
    border-color: #787878;
    left: 50%;
    margin-left: 345px;
    position: fixed;
    top: 0;
    width: 125px;
    z-index: 321;
}
#buttonu186:hover {
    margin: 0 0 0 345px;
}
#buttonu186.ButtonSelected {
    margin: 0 0 0 345px;
}
#u188 {
    background-color: transparent;
    border-color: #ffffff;
    height: 10px;
    position: relative;
    width: 125px;
    z-index: 326;
}
.ie #u188 {
    background-color: #8bc53f;
    opacity: 0.01;
}
#buttonu186:hover #u188 {
    background-color: #8bc53f;
    margin: 0;
}
.ie #buttonu189.ButtonSelected #u191, .ie #buttonu186:hover #u188 {
    opacity: 1;
}
#buttonu186.ButtonSelected #u188 {
    background-color: #8bc53f;
    margin: 0;
}
#u187-4 {
    background-color: transparent;
    line-height: 24px;
    margin-top: 28px;
    min-height: 50px;
    position: relative;
    width: 125px;
    z-index: 322;
}
#buttonu189.ButtonSelected #u190-4, #buttonu186:hover #u187-4 {
    margin: 28px 0 0;
    min-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu186.ButtonSelected #u187-4 {
    margin: 28px 0 0;
    min-height: 50px;
    padding-bottom: 0;
    padding-top: 0;
}
#u595 {
    background-color: transparent;
    border-color: #8bc53f;
    border-style: solid;
    border-width: 1px;
    left: 50%;
    margin-left: 341px;
    position: fixed;
    top: 87px;
    width: 130px;
    z-index: 302;
}
#u593 {
    background-color: white;
    border-color: #000000;
    margin-right: -10000px;
    padding-bottom: 2px;
    position: relative;
    width: 130px;
    z-index: 303;
}
#u594-10 {
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    margin-right: -10000px;
    margin-top: 4px;
    min-height: 19px;
    position: relative;
    width: 130px;
    z-index: 304;
}
#pu125 {
    margin-left: -100px;
    width: 0.01px;
}
#u125 {
    background: #ffffff url("../images/briko-completo.jpg") no-repeat scroll center center;
    border-color: #000000;
    z-index: 225;
}
#u125_position_content {
    margin-bottom: -15px;
    padding-top: 79px;
}
#u138-6 {
    background-color: transparent;
    left: 100px;
    min-height: 140px;
    position: relative;
    width: 400px;
    z-index: 226;
}
#u207-4 {
    background-color: transparent;
    font-size: 29px;
    left: 100px;
    line-height: 32px;
    margin-top: 36px;
    min-height: 210px;
    position: relative;
    width: 400px;
    z-index: 241;
}
#u125-bw {
    height: 450px;
    z-index: 225;
}
#u195-4 {
    background-color: transparent;
    left: 45px;
    line-height: 24px;
    margin-right: -10000px;
    margin-top: 210px;
    min-height: 26px;
    position: relative;
    width: 249px;
    z-index: 232;
}
#u197-4 {
    background-color: transparent;
    left: 308px;
    line-height: 24px;
    margin-right: -10000px;
    margin-top: 210px;
    min-height: 26px;
    position: relative;
    width: 249px;
    z-index: 236;
}
#u199 {
    background: transparent url("../images/icono-mas.png") no-repeat scroll center center;
    border-color: #000000;
    height: 23px;
    left: 290px;
    margin-right: -10000px;
    margin-top: 209px;
    position: relative;
    width: 23px;
    z-index: 240;
}
#u2559 {
    background-color: white;
    background-image: url("../images/barraderechaDif.png");
    background-size: 100% auto;
    border-color: #eceeed;
    border-style: solid;
    border-width: 0 0 0 14px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 6.7em;
    width: 490px;
    z-index: 20;
}
#u2559:hover {
    margin: 0;
}
#u397 {
    background: transparent url("../images/panel-que.jpg") no-repeat scroll center top / cover ;
    border-color: #000000;
    padding-bottom: 119px;
    z-index: 214;
}
#u398 {
    background: transparent url("../images/icono-comilla.png") no-repeat scroll left top;
    border-color: #000000;
    height: 78px;
    left: 210px;
    margin-right: -10000px;
    margin-top: 40px;
    position: relative;
    width: 90px;
    z-index: 215;
}
#u399-4 {
    background-color: transparent;
    font-size: 30px;
    left: 325px;
    line-height: 33px;
    margin-right: -10000px;
    margin-top: 80px;
    min-height: 201px;
    position: relative;
    text-align: left;
    text-indent: 239px;
    width: 620px;
    z-index: 216;
}
#u397-bw {
    height: 281px;
    z-index: 214;
}
#u400-4 {
    background-color: transparent;
    color: #5b5b5b;
    left: 310px;
    line-height: 60px;
    margin-right: -10000px;
    margin-top: 56px;
    min-height: 60px;
    position: relative;
    text-align: left;
    width: 260px;
    z-index: 220;
}
#u368 {
    background-color: #8bc53f;
    border-color: #000000;
    padding-bottom: 0;
    z-index: 117;
}
#u368_align_to_page {
    left: -90px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 17px;
    padding-top: 70px;
    position: relative;
    width: 940px;
}
#pu369-4 {
    left: 131px;
    position: relative;
    width: 0.01px;
}
#u369-4 {
    background-color: transparent;
    color: #ededed;
    font-size: 56px;
    line-height: 67px;
    margin-right: -10000px;
    min-height: 70px;
    position: relative;
    width: 240px;
    z-index: 118;
}
#u370-4 {
    background-color: transparent;
    color: #ededed;
    font-size: 56px;
    left: 284px;
    line-height: 67px;
    margin-right: -10000px;
    min-height: 70px;
    position: relative;
    width: 300px;
    z-index: 122;
}
#pu374 {
    left: 116px;
    margin-top: 13px;
    position: relative;
    width: 0.01px;
}
#u374 {
    margin-right: -10000px;
    margin-top: 7px;
    min-height: 151px;
    position: relative;
    width: 235px;
    z-index: 127;
}
#u372 {
    left: 350px;
    margin-right: -10000px;
    min-height: 165px;
    position: relative;
    width: 161px;
    z-index: 126;
}
#u1409-4 {
    background-color: transparent;
    color: #ededed;
    font-size: 25px;
    left: 500px;
    line-height: 30px;
    margin-top: 29px;
    min-height: 24px;
    position: relative;
    width: 140px;
    z-index: 170;
}
#u1410 {
    background: transparent url("../images/flecha-scroll.png") no-repeat scroll left top;
    border-color: #000000;
    height: 56px;
    left: 542px;
    margin-top: 1px;
    position: relative;
    width: 56px;
    z-index: 174;
}
#u368-bw {
    height: 451px;
    z-index: 117;
}
#u378-4 {
    background-color: transparent;
    color: #d3d3d3;
    font-size: 100px;
    left: 1136px;
    line-height: 120px;
    margin-right: -10000px;
    margin-top: 36px;
    min-height: 133px;
    position: relative;
    width: 131px;
    z-index: 128;
}
#u379-4 {
    background-color: transparent;
    color: #d3d3d3;
    font-size: 100px;
    left: 1417px;
    line-height: 120px;
    margin-right: -10000px;
    margin-top: 36px;
    min-height: 133px;
    position: relative;
    width: 131px;
    z-index: 132;
}
#u380-4 {
    background-color: transparent;
    color: #d3d3d3;
    font-size: 100px;
    left: 1736px;
    line-height: 120px;
    margin-right: -10000px;
    margin-top: 36px;
    min-height: 244px;
    position: relative;
    width: 131px;
    z-index: 136;
}
#slideshowu932 {
    height: 265px;
    left: 1785px;
    margin-right: -10000px;
    margin-top: 55px;
    position: relative;
    width: 0.01px;
    z-index: 143;
}
#u933 {
    background-color: transparent;
    height: 180px;
    position: absolute;
    top: 85px;
    width: 340px;
}
#u933popup {
    z-index: 144;
}
#u934 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    height: 180px;
    margin-right: -10000px;
    position: relative;
    width: 340px;
    z-index: 145;
}
#u934_img {
    padding: 38px 135px 36px 45px;
}
#u968 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    height: 180px;
    margin-right: -10000px;
    position: relative;
    width: 340px;
    z-index: 147;
}
#u968_img {
    padding: 7px 163px 7px 138px;
}
#u977 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    height: 180px;
    margin-right: -10000px;
    position: relative;
    width: 340px;
    z-index: 149;
}
#u977_img {
    padding: 13px 153px 1px 46px;
}
#u986 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    height: 180px;
    margin-right: -10000px;
    position: relative;
    width: 340px;
    z-index: 151;
}
#u986_img {
    padding: 12px 187px 2px 38px;
}
#u941 {
    background-color: transparent;
    left: 39px;
    position: absolute;
    width: 281px;
}
#u941popup {
    z-index: 153;
}
#u942-4 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    color: #ededed;
    font-size: 56px;
    line-height: 78px;
    margin-right: -10000px;
    min-height: 78px;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 261px;
    z-index: 154;
}
#u974-4 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    color: #ededed;
    font-size: 56px;
    line-height: 78px;
    margin-right: -10000px;
    min-height: 78px;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 280px;
    z-index: 158;
}
#u983-4 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    color: #ededed;
    font-size: 56px;
    line-height: 78px;
    margin-right: -10000px;
    min-height: 78px;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 261px;
    z-index: 162;
}
#u992-4 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    color: #ededed;
    font-size: 56px;
    line-height: 78px;
    margin-right: -10000px;
    min-height: 78px;
    padding: 10px;
    position: relative;
    text-align: left;
    width: 261px;
    z-index: 166;
}
.SSSlideLoading {
    background: rgba(0, 0, 0, 0) url("../images/loading.gif") no-repeat scroll center center;
}
#definicion {
    margin-right: -10000px;
    margin-top: 301px;
    position: relative;
    width: 22px;
}
#pu1389 {
    margin-top: 15px;
    width: 0.01px;
}
#u1389 {
    background-color: transparent;
    height: 650px;
    margin-right: -10000px;
    position: relative;
    width: 960px;
    z-index: 2;
}
#U2446_animation {
    border: medium none;
    height: 650px;
    width: 960px;
}
#u1422 {
    left: 408px;
    margin-right: -10000px;
    margin-top: 434px;
    min-height: 716px;
    position: relative;
    width: 328px;
    z-index: 179;
}
.js #u1422.ose_pre_init {
    opacity: 0.5;
}
#pu1427 {
    margin-left: 44px;
    margin-top: -531px;
    padding-bottom: 528px;
    width: 0.01px;
}
#u1427 {
    background: transparent url("../images/pc.png") no-repeat scroll center center;
    border-color: #000000;
    height: 401px;
    left: 44px;
    position: fixed;
    top: 2161px;
    width: 380px;
    z-index: 180;
}
#u1445 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    left: 484px;
    position: fixed;
    top: 2034px;
    width: 478px;
    z-index: 181;
}
#u1438-4 {
    background-color: transparent;
    color: #8bc53f;
    font-size: 85px;
    line-height: 106px;
    margin-right: -10000px;
    margin-top: 118px;
    min-height: 115px;
    position: relative;
    text-align: left;
    width: 400px;
    z-index: 182;
}
#u1439-4 {
    background-color: transparent;
    color: #d3d3d3;
    font-size: 325px;
    left: 347px;
    line-height: 390px;
    margin-right: -10000px;
    min-height: 400px;
    position: relative;
    width: 131px;
    z-index: 186;
}
#u1441-6 {
    background-color: transparent;
    left: 2px;
    margin-right: -10000px;
    margin-top: 210px;
    min-height: 70px;
    position: relative;
    width: 324px;
    z-index: 190;
}
#u1442-4 {
    background-color: transparent;
    left: 2px;
    line-height: 26px;
    margin-right: -10000px;
    margin-top: 243px;
    min-height: 89px;
    position: relative;
    text-indent: 160px;
    width: 324px;
    z-index: 196;
}
#u1446 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    left: 19px;
    position: fixed;
    top: 2569px;
    width: 470px;
    z-index: 200;
}
#u1450-4 {
    background-color: transparent;
    color: #d3d3d3;
    font-size: 325px;
    line-height: 390px;
    margin-right: -10000px;
    min-height: 400px;
    position: relative;
    width: 131px;
    z-index: 205;
}
#pu1449-4 {
    margin-left: 177px;
    margin-right: -10000px;
    margin-top: 118px;
    width: 0.01px;
}
#u1449-4 {
    background-color: transparent;
    color: #8bc53f;
    font-size: 88px;
    left: 3px;
    line-height: 106px;
    margin-right: -10000px;
    min-height: 115px;
    position: relative;
    text-align: left;
    width: 290px;
    z-index: 201;
}
#u1448-4 {
    background-color: transparent;
    line-height: 26px;
    margin-right: -10000px;
    margin-top: 97px;
    min-height: 89px;
    position: relative;
    width: 286px;
    z-index: 209;
}
#u1456 {
    left: 389px;
    min-height: 335px;
    position: fixed;
    top: 2655px;
    width: 560px;
    z-index: 213;
}
#pu1395 {
    margin-left: -1165px;
    margin-top: 462px;
    width: 0.01px;
}
#u1395 {
    background-color: #ededed;
    border-color: #000000;
    padding-bottom: 60px;
    z-index: 140;
}
#u598 {
    background: transparent url("../images/brikos.png") no-repeat scroll center center;
    border-color: #000000;
    height: 302px;
    left: 100px;
    margin-right: -10000px;
    margin-top: 115px;
    position: relative;
    width: 940px;
    z-index: 141;
}
#u1395-bw {
    height: 417px;
    z-index: 140;
}
#diy {
    margin-right: -10000px;
    margin-top: 377px;
    position: relative;
    width: 22px;
}
#u1417-4 {
    background-color: transparent;
    color: #8bc53f;
    font-size: 84px;
    left: 1561px;
    line-height: 106px;
    margin-right: -10000px;
    margin-top: 14px;
    min-height: 107px;
    position: relative;
    text-align: right;
    width: 544px;
    z-index: 175;
}
#pu368, #ppaprende {
    margin-left: -1165px;
    width: 0.01px;
}
#paprende {
    margin-right: -10000px;
    margin-top: 787px;
    width: 0.01px;
}
#aprende {
    position: relative;
}
#contacto {
    margin-top: 695px;
    position: relative;
}
#u480 {
    background-size: cover;
    border-color: #000000;
    z-index: 3;
}
#u480_align_to_page {
    left: -100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 61px;
    padding-top: 80px;
    position: relative;
    width: 940px;
}
#pu481-8 {
    left: 100px;
    position: relative;
    width: 0.01px;
}
#u481-8 {
    background-color: transparent;
    color: #5b5b5b;
    font-size: 50px;
    line-height: 50px;
    margin-right: -10000px;
    min-height: 166px;
    position: relative;
    text-align: left;
    width: 270px;
    z-index: 4;
}
#u482 {
    background: transparent url("../images/icono-comilla-verde.png") no-repeat scroll center center;
    border-color: #000000;
    height: 20px;
    left: 290px;
    margin-right: -10000px;
    margin-top: 21px;
    position: relative;
    width: 24px;
    z-index: 12;
}
#u483-8 {
    background-color: transparent;
    color: white;
    font-size: 20px;
    left: 321px;
    line-height: 30px;
    margin-right: -10000px;
    margin-top: 17px;
    min-height: 145px;
    position: relative;
    text-align: left;
    width: 430px;
    z-index: 13;
}
#buttonu1490 {
    background-color: #8bc53f;
    border-color: #6fa12c;
    border-radius: 8px;
    border-style: solid;
    border-width: 0 0 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    left: 424px;
    margin-top: 330px;
    padding-bottom: 5px;
    position: relative;
    width: 290px;
    z-index: 21;
}
#button_proy_m {
    background-color: #8bc53f;
    border-color: #6fa12c;
    border-radius: 8px;
    border-style: solid;
    border-width: 0 0 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    left: 300px;
    margin-top: 0;
    padding-bottom: 5px;
    position: relative;
    width: 290px;
    z-index: 21;
}
#buttonu1490:hover {
    background-color: #e97979;
    border-color: #d75b5b;
    margin: 330px 0 0;
    min-height: 0;
    width: 290px;
}
#buttonu1490.ButtonSelected {
    background-color: #d75b5b;
    border-color: #b44a4a;
    margin: 330px 0 0;
    min-height: 0;
    width: 290px;
}
#u1491-6 {
    background-color: transparent;
    color: #e4e7e1;
    line-height: 24px;
    margin-right: -10000px;
    margin-top: 8px;
    min-height: 49px;
    position: relative;
    width: 290px;
    z-index: 22;
}
#buttonu1490:hover #u1491-6 {
    margin: 8px -10000px 0 0;
    min-height: 49px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu1490.ButtonSelected #u1491-6 {
    margin: 8px -10000px 0 0;
    min-height: 49px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu1490:hover #u1491-6 p {
    color: #ffffff;
    visibility: inherit;
}
#u480-bw {
    height: 709px;
    margin-top: 1155px;
    z-index: 3;
}
#u421 {
    background-color: white;
    background-size: cover;
    border-color: #000000;
    padding-bottom: 299px;
    z-index: 77;
}
#u1075 {
    background-color: white;
    border-color: #000000;
    left: 90px;
    margin-right: -10000px;
    padding-bottom: 0;
    position: relative;
    width: 490px;
    z-index: 78;
}
#u1075_position_content {
    padding-bottom: 26px;
    padding-top: 40px;
}
#u429-6 {
    background-color: transparent;
    color: #5b5b5b;
    font-size: 60px;
    left: 118px;
    line-height: 50px;
    min-height: 115px;
    position: relative;
    width: 715px;
    z-index: 270;
}
#pu434 {
    margin-left: 29px;
    margin-top: 3px;
    width: 0.01px;
}
#u434 {
    background: transparent url("../images/icono-comilla-verde.png") no-repeat scroll center center;
    border-color: #000000;
    height: 20px;
    margin-right: -10000px;
    margin-top: 4px;
    position: relative;
    width: 24px;
    z-index: 224;
}
#u430-8 {
    background-color: transparent;
    color: #ededed;
    font-size: 27px;
    left: 31px;
    line-height: 32px;
    margin-right: -10000px;
    min-height: 117px;
    position: relative;
    text-align: left;
    width: 409px;
    z-index: 276;
}
#u421-bw {
    height: 301px;
    z-index: 77;
}
#u1076 {
    background-color: white;
    border-color: #000000;
    z-index: 79;
}
#u1076_align_to_page {
    left: -100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 21px;
    padding-top: 41px;
    position: relative;
    width: 940px;
}
#u1077-6 {
    background-color: transparent;
    font-size: 25px;
    left: 100px;
    min-height: 147px;
    position: relative;
    width: 460px;
    z-index: 285;
}
#u1077-2 {
    line-height: 30px;
}
#u1077-4 {
    line-height: 50px;
}
#buttonu1078 {
    background-color: #d75b5b;
    border-color: #b44a4a;
    border-radius: 8px;
    border-style: solid;
    border-width: 0 0 10px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    left: 185px;
    margin-top: 20px;
    padding-bottom: 6px;
    position: relative;
    width: 290px;
    z-index: 291;
}
#buttonu1078:hover {
    background-color: #e97979;
    border-color: #d75b5b;
    margin: 20px 0 0;
    min-height: 0;
    width: 290px;
}
#buttonu1078.ButtonSelected {
    background-color: #d75b5b;
    border-color: #b44a4a;
    margin: 20px 0 0;
    min-height: 0;
    width: 290px;
}
#u1079-6 {
    background-color: transparent;
    color: #e4e7e1;
    line-height: 24px;
    margin-right: -10000px;
    margin-top: 8px;
    min-height: 48px;
    position: relative;
    width: 290px;
    z-index: 292;
}
#buttonu1078:hover #u1079-6 {
    margin: 8px -10000px 0 0;
    min-height: 48px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu1078.ButtonSelected #u1079-6 {
    margin: 8px -10000px 0 0;
    min-height: 48px;
    padding-bottom: 0;
    padding-top: 0;
}
#buttonu1078:hover #u1079-6 p {
    color: #ffffff;
    visibility: inherit;
}
#buttonu1490.ButtonSelected #u1491-6 p, #buttonu1078.ButtonSelected #u1079-6 p {
    color: #e4e7e1;
    visibility: inherit;
}
#u1076-bw {
    height: 300px;
    margin-top: 591px;
    z-index: 79;
}
#pamphletu1143 {
    height: 5px;
    left: 935px;
    margin-right: -10000px;
    margin-top: 35px;
    padding-bottom: 595px;
    position: relative;
    width: 0.01px;
    z-index: 80;
}
#u1144 {
    position: absolute;
    width: 490px;
}
#u1144popup {
    z-index: 81;
}
#u1145 {
    background-color: transparent;
    border-color: #999999;
    height: 600px;
    margin-right: -10000px;
    position: relative;
    top: -3em;
    width: 490px;
    z-index: 82;
}
#u1146 {
    left: 90px;
    margin-right: -10000px;
    padding-bottom: 0;
    position: relative;
    top: -3em;
    width: 300px;
    z-index: 86;
}
#u1146-des {
    left: 90px;
    margin-right: -10000px;
    padding-bottom: 0;
    position: relative;
    top: 0;
    width: 500px;
    z-index: 84;
}
.sharebttn {
    left: 70em;
    position: relative;
    top: -10.6em;
    width: 65%;
}
.likebttn {
    left: 55em;
    position: relative;
    top: -2.5em;
    width: 65%;
}
#buttonu1202-1 {
    background-color: transparent;
    border-color: #787878;
    height: 298px;
    margin-left: 6.5em;
    margin-right: -10000px;
    position: absolute;
    width: 300px !important;
    z-index: 88;
}
#buttonu1202-1:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
#buttonu1202-1:visited {
    background-color: rgba(255, 255, 255, 0.3);
}
#buttonu1490-des {
    background-color: #b5b5b7;
    border-radius: 15px;
    position: relative;
    width: 190px;
    z-index: 21;
}
#u1491-des {
    background-color: transparent;
    color: white;
    line-height: 48px;
    margin-right: -10000px;
    margin-top: 0;
    position: relative;
    width: 190px;
    z-index: 22;
}
#comtiT {
    padding: 18px 45px 22px;
    position: relative;
    width: 16%;
}
#comtiC {
    padding: 18px 45px 22px;
    position: relative;
    width: 16%;
}
.ProyeImg {
    border-radius: 15px;
    height: 454px;
    margin-right: -10000px;
    position: relative;
    width: 1024px;
    z-index: 86;
}
.menu {
    color: black !important;
    line-height: 40px !important;
}
.menu p:hover {
    background-color: #e6e7e9;
    border-radius: 15px;
}
#u1180-6 {
    background-color: transparent;
    color: darkgrey;
    font-size: 200%;
    left: 1px;
    line-height: 25px;
    margin-right: -10000px;
    min-height: 62px;
    position: relative;
    text-align: left;
    top: -1em;
    width: 700px;
    z-index: 86;
}
#u1180-com {
    background-color: transparent;
    color: darkgrey;
    font-size: 200%;
    left: -4em;
    line-height: 50px;
    margin-right: -10000px;
    margin-top: 0;
    position: relative;
    text-align: center;
    width: 300px;
    z-index: 87;
}
#u1180-tie {
    background-color: transparent;
    color: darkgrey;
    font-size: 200%;
    left: 4em;
    line-height: 50px;
    margin-right: -10000px;
    margin-top: 0;
    min-height: 62px;
    padding-bottom: 1.5em;
    position: relative;
    text-align: center;
    width: 300px;
    z-index: 87;
}
#u1180-text {
    background-color: transparent;
    color: darkgrey;
    font-size: 150%;
    left: -3em;
    line-height: 30px;
    margin-right: -10000px;
    margin-top: 5.5em;
    min-height: 62px;
    padding-bottom: 1.5em;
    position: relative;
    text-align: left;
    width: 440px;
    z-index: 87;
}
#u1148 {
    background: transparent url("../images/proyectos/Afinadormusical.jpg") no-repeat scroll left center / cover ;
}
#u1148-1 {
    background: transparent url("../images/comienza/1Modulos.png") no-repeat scroll left center / cover ;
    height: 768px;
    left: 13em;
    top: -10em;
    width: 1024px;
}
#u1148-2 {
    background: transparent url("../images/comienza/2Modulos2.png") no-repeat scroll left center / cover ;
    height: 768px;
    left: 13.2em;
    top: 40em;
    width: 1024px;
}
#u1148-3 {
    background: transparent url("../images/comienza/3BK7.png") no-repeat scroll left center / cover ;
    height: 768px;
    left: 13em;
    top: 94em;
}
#u1148-4 {
    background: transparent url("../images/comienza/4Brikode.png") no-repeat scroll left center / cover ;
    height: 768px;
    left: 10em;
    top: 148em;
}
#u1148-5 {
    background: transparent url("../images/comienza/5Instalacion.png") no-repeat scroll left center / cover ;
    height: 768px;
    left: 15em;
    top: 202em;
}
#u1148-6 {
    background: transparent url("../images/comienza/6Instalacion.png") no-repeat scroll left center / cover ;
    height: 768px;
    left: 15em;
    top: 257em;
}
#u1148-7 {
    background: transparent url("../images/comienza/7Instalacion.png") no-repeat scroll left center / cover ;
    height: 768px;
    left: 15em;
    top: 313em;
}
#u1148-8 {
    background: transparent url("../images/comienza/8Instalacion.png") no-repeat scroll left center / cover ;
    height: 768px;
    left: 13em;
    top: 368em;
}
#u1181-8 {
    background-color: transparent;
    color: #4c4c4c;
    font-size: 24px;
    left: 21px;
    line-height: 24px;
    margin-right: -10000px;
    margin-top: 151px;
    min-height: 93px;
    position: relative;
    text-align: left;
    width: 229px;
    z-index: 93;
}
#buttonu1202 {
    background-color: transparent;
    border-color: #787878;
    height: 300px;
    margin-right: -10000px;
    position: relative;
    width: 490px;
    z-index: 113;
}
.ie #buttonu1202 {
    background-color: #ffffff;
    opacity: 0.01;
}
#buttonu1202:hover {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 -10000px 0 0;
}
.ie #buttonu186.ButtonSelected #u188, .ie #buttonu1202:hover {
    opacity: 1;
}
#buttonu1202.ButtonSelected {
    background-color: transparent;
    margin: 0 -10000px 0 0;
}
#pu1146, #pu1147 {
    width: 0.01px;
}
#u1147 {
    background-color: #8bc53f;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-color: #78797c;
    border-style: solid;
    border-width: 0 7px 7px;
    left: 90px;
    margin-right: -10000px;
    padding-bottom: 0;
    position: relative;
    top: 258px;
    width: 574px;
    z-index: 84;
}
#u1183-6 {
    background-color: transparent;
    font-size: 25px;
    left: 1px;
    line-height: 60px;
    margin-right: -10000px;
    margin-top: 0;
    min-height: 62px;
    padding-bottom: 1.5em;
    position: relative;
    text-align: center;
    width: 573px;
    z-index: 87;
}
#u1149 {
    background: transparent url("../images/diy-mario.jpg") no-repeat scroll left center / cover ;
    border-color: #78797c;
    height: 252px;
    left: 90px;
    margin-right: -10000px;
    position: relative;
    width: 230px;
    z-index: 85;
}
#u1184-6 {
    background-color: transparent;
    color: #8bc53f;
    font-size: 24px;
    left: 21px;
    line-height: 24px;
    margin-right: -10000px;
    margin-top: 133px;
    min-height: 130px;
    position: relative;
    text-align: left;
    width: 229px;
    z-index: 107;
}
#buttonu1239 {
    background-color: transparent;
    border-color: #787878;
    height: 300px;
    margin-right: -10000px;
    position: relative;
    width: 490px;
    z-index: 114;
}
.ie #buttonu1202.ButtonSelected, .ie #buttonu1239 {
    background-color: #ffffff;
    opacity: 0.01;
}
#buttonu1239:hover {
    background-color: rgba(255, 255, 255, 0.3);
    margin: 0 -10000px 0 0;
}
.ie #buttonu1239:hover {
    opacity: 1;
}
#buttonu1239.ButtonSelected {
    background-color: transparent;
    margin: 0 -10000px 0 0;
}
#u1154 {
    margin-right: -10000px;
    position: relative;
    width: 5px;
    z-index: 115;
}
#u1155 {
    background-color: transparent;
    border-color: transparent;
    border-radius: 10px;
    border-style: none;
    height: 5px;
    position: absolute;
    width: 5px;
}
.ie #buttonu1239.ButtonSelected, .ie #u1155 {
    background-color: #ffffff;
    opacity: 0.01;
}
#u1155:hover {
    border-color: transparent;
    border-style: none;
    margin: 0;
}
.ie #u1155:hover {
    background-color: #ffffff;
    opacity: 0.01;
}
#u1155.PamphletThumbSelected {
    margin: 0;
}
.ie #u1155.PamphletThumbSelected {
    background-color: #ffffff;
    opacity: 0.01;
}
.SSFirstButton, .SSPreviousButton, .SSNextButton, .SSLastButton, .SSSlideLink, .SSCloseButton, .PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton {
    cursor: pointer;
}
#pu397, #pu1492 {
    margin-left: -100px;
    margin-top: -1px;
    width: 0.01px;
}
#u1492 {
    background-color: #8bc540;
    border-color: #000000;
    padding-bottom: 164px;
    z-index: 28;
}
#u504-6 {
    background-color: transparent;
    color: #5b5b5b;
    font-size: 25px;
    left: 100px;
    line-height: 30px;
    margin-right: -10000px;
    margin-top: 98px;
    min-height: 113px;
    position: relative;
    width: 460px;
    z-index: 29;
}
#u2556-6 {
    background-color: transparent;
    color: #5b5b5b;
    font-size: 25px;
    left: 580px;
    line-height: 30px;
    margin-right: -10000px;
    margin-top: 166px;
    min-height: 70px;
    position: relative;
    width: 460px;
    z-index: 71;
}
#u1492-bw {
    height: 236px;
    z-index: 28;
}
#widgetu2536 {
    height: 122px;
    left: 100px;
    margin-right: -10000px;
    margin-top: 207px;
    position: relative;
    width: 0.01px;
    z-index: 36;
}
#widgetu2538 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    height: 80px;
    margin-right: -10000px;
    margin-top: 1px;
    position: relative;
    width: 306px;
    z-index: 37;
}
#widgetu2538.fld-err-st {
    background-color: transparent;
    border-radius: 0;
    margin: 1px -10000px 0 0;
}
#u2539-4 {
    background-color: #ededed;
    border-color: #c4c4c4;
    border-radius: 8px 0 0 8px;
    color: #cac9c9;
    font-size: 30px;
    line-height: 36px;
    margin-right: -10000px;
    min-height: 40px;
    padding: 20px 10px 20px 15px;
    position: relative;
    text-align: left;
    width: 281px;
    z-index: 38;
}
#widgetu2538.non-empty-st #u2539-4 {
    background-color: #ffffff;
}
#widgetu2538:hover #u2539-4 {
    background-color: #ffffff;
    border-color: #6b6b6b;
    margin: 0 -10000px 0 0;
    min-height: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#widgetu2538.focus-st #u2539-4 {
    background-color: #ffffff;
    border-color: #6b6b6b;
    margin: 0 -10000px 0 0;
    min-height: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#widgetu2538.fld-err-st #u2539-4 {
    background-color: #ffffff;
    border-color: #d7244c;
    margin: 0 -10000px 0 0;
    min-height: 40px;
    padding-bottom: 20px;
    padding-top: 20px;
}
#widgetu2538.non-empty-st #u2539-4 * {
    color: #4f4f4f;
}
#widgetu2538:hover #u2539-4 * {
    color: #4f4f4f;
}
#widgetu2538.focus-st #u2539-4 * {
    color: #4f4f4f;
}
#widgetu2538.fld-err-st #u2539-4 * {
    color: #d7244c;
    font-style: italic;
}
#widgetu2538_input, #widgetu2538_prompt {
    color: #cac9c9;
    font-size: 30px;
    min-height: 40px;
    padding: 20px 10px 20px 15px;
    text-align: left;
    width: 281px;
}
#widgetu2538:hover #widgetu2538_input, #widgetu2538.focus-st #widgetu2538_input, #widgetu2538.fld-err-st #widgetu2538_input, #widgetu2538:hover #widgetu2538_prompt, #widgetu2538.focus-st #widgetu2538_prompt, #widgetu2538.fld-err-st #widgetu2538_prompt {
    padding-bottom: 20px;
    padding-top: 20px;
}
#widgetu2538.non-empty-st #widgetu2538_prompt {
    visibility: hidden;
}
#u2537-4 {
    background-color: transparent;
    font-style: italic;
    line-height: 17px;
    margin-right: -10000px;
    margin-top: 97px;
    min-height: 21px;
    opacity: 0;
    padding-top: 4px;
    position: relative;
    text-align: center;
    width: 460px;
    z-index: 42;
}
#widgetu2536.frm-sub-st #u2537-4 p {
    color: #4c4c4c;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    text-align: center;
}
#u2544-4 {
    background-color: transparent;
    color: #ed1c24;
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
    margin-right: -10000px;
    margin-top: 97px;
    min-height: 21px;
    opacity: 0;
    padding-top: 4px;
    position: relative;
    text-align: center;
    width: 460px;
    z-index: 46;
}
#widgetu2536.frm-subm-err-st #u2544-4 p {
    color: #ed1c24;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    text-align: center;
}
#u2543-4 {
    background-color: transparent;
    color: #ededed;
    font-style: italic;
    line-height: 17px;
    margin-right: -10000px;
    margin-top: 97px;
    min-height: 21px;
    opacity: 0;
    padding-top: 4px;
    position: relative;
    text-align: center;
    width: 460px;
    z-index: 50;
}
#widgetu2536.frm-sub-st #u2537-4, #widgetu2536.frm-subm-err-st #u2544-4, #widgetu2536.frm-subm-ok-st #u2543-4 {
    min-height: 25px;
    opacity: 1;
}
#widgetu2536.frm-subm-ok-st #u2543-4 p {
    color: #ededed;
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-size: 14px;
    font-style: italic;
    line-height: 1.2;
    padding: 0;
    text-align: center;
}
#u2542-17 {
    background: rgba(0, 0, 0, 0) url("../images/u2542-17.png") no-repeat scroll 0 0;
    left: 299px;
    margin-right: -10000px;
    margin-top: -1px;
    min-height: 82px;
    position: relative;
    width: 162px;
    z-index: 54;
}
#u2542-17:hover {
    background: rgba(0, 0, 0, 0) url("../images/u2542-17-r.png") no-repeat scroll 0 0;
}
#u2542-17:active {
    background: rgba(0, 0, 0, 0) url("../images/u2542-17-m.png") no-repeat scroll 0 0;
}
#widgetu2536.frm-sub-st #u2542-17 {
    background: rgba(0, 0, 0, 0) url("../images/u2542-17-fs.png") no-repeat scroll 0 0;
}
#pu225 {
    margin-left: -100px;
    margin-top: -2px;
    width: 0.01px;
}
#u225 {
    background: transparent url("../images/footer-pattern.jpg") repeat-x scroll left center;
    border-color: #000000;
    padding-bottom: 158px;
    z-index: 245;
}
#u232-4 {
    background-color: transparent;
    color: #ededed;
    font-size: 30px;
    left: 221px;
    line-height: 36px;
    margin-right: -10000px;
    margin-top: 55px;
    min-height: 50px;
    position: relative;
    width: 699px;
    z-index: 246;
}
#u225-bw {
    height: 144px;
    z-index: 245;
}
#u233 {
    background: rgba(0, 0, 0, 0) url("../images/icono-facebook-u233.png") no-repeat scroll 0 0;
    height: 53px;
    left: 454px;
    margin-right: -10000px;
    margin-top: 100px;
    position: relative;
    vertical-align: top;
    width: 53px;
    z-index: 251;
}
#u233:hover {
    background: rgba(0, 0, 0, 0) url("../images/icono-facebook-u233-r.png") no-repeat scroll 0 0;
}
#u240 {
    background: rgba(0, 0, 0, 0) url("../images/icono-twitter-u240.png") no-repeat scroll 0 0;
    height: 53px;
    left: 544px;
    margin-right: -10000px;
    margin-top: 100px;
    position: relative;
    vertical-align: top;
    width: 53px;
    z-index: 254;
}
#u240:hover {
    background: rgba(0, 0, 0, 0) url("../images/icono-twitter-u240-r.png") no-repeat scroll 0 0;
}
#u241 {
    background: rgba(0, 0, 0, 0) url("../images/icono-gplus-u241.png") no-repeat scroll 0 0;
    height: 53px;
    left: 634px;
    margin-right: -10000px;
    margin-top: 100px;
    position: relative;
    vertical-align: top;
    width: 53px;
    z-index: 257;
}
#u241:hover {
    background: rgba(0, 0, 0, 0) url("../images/icono-gplus-u241-r.png") no-repeat scroll 0 0;
}
#u254 {
    background-color: #ededed;
    border-color: #000000;
    padding-bottom: 7px;
    z-index: 259;
}
#u125_align_to_page, #u397_align_to_page, #u1395_align_to_page, #u421_align_to_page, #u1492_align_to_page, #u225_align_to_page, #u254_align_to_page {
    left: -100px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 940px;
}
#u264-10 {
    background-color: transparent;
    left: 100px;
    line-height: 17px;
    margin-right: -10000px;
    margin-top: 42px;
    min-height: 23px;
    position: relative;
    width: 414px;
    z-index: 260;
}
#u538 {
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    left: 570px;
    margin-right: -10000px;
    margin-top: 21px;
    min-height: 74px;
    position: relative;
    width: 470px;
    z-index: 284;
}
#u254-bw {
    height: 95px;
    z-index: 259;
}
body {
    min-width: 940px;
    padding-bottom: 400px;
    position: relative;
}
#Stage_Text3Copy {
    top: 244px !important;
}
