header {
    background-color: white;
}

body {
    background-color: white;
}

#slideim1 img { 
 height: auto;
 width: auto;  
}

#slideim2 img { 
 height: auto;
 width: auto;  
}

.orbit-container{
 width: 100%;   
}

.orbit-container .orbit-prev span,
.orbit-container .orbit-next span {
    color: #3796C8;
    border: none;
    font-size: 140px;
    text-indent: 0;
    margin-top: -32px;
}

.orbit-container .orbit-prev:hover {
      background-color: transparent;
}

.orbit-container .orbit-prev {
    background-color: transparent;
}
.orbit-container .orbit-prev span:before {
    content: "\2039";
}

.orbit-container .orbit-next:hover {
      background-color: transparent;
}

.orbit-container .orbit-next {
    background-color: transparent;
    margin-right: 20px;
}
.orbit-container .orbit-next span:before {
    content: "\203A";
}

#radiob{
    border: 0px;
    width: 180%;
    height: 2em;   
}

#editor { 
  margin-left: 15px;
  margin-top: 15px;
  height: 400px;
 font-size: 25px;
}


.desKY {
    font-family: "MAXWELLREGULAR";
    font-size: 1.3rem;
    background-color: #3da8d3;
    border-radius: 15px;
}

.brikospanp{
    padding-left:10px;
    padding-right:10px;
    color: white;
    font-family: "MAXWELLREGULAR";
    font-size: 1.3rem;
    background-color: #3da8d3;
    border-radius: 15px;
}


.funct
{
  color:#006D91;
}

#backpot {
    background-image: url("http://briko.cc/images/modulos_anim/knob/poty.png");
   background-repeat: no-repeat;
   background-position: center center;

}

.param
{
  color:#BB2462;
}

.functcomp
{
  color:#000000;
  font-size: 2em;
}

.especF
{
  list-style-image: url('http://briko.cc/images/flechitasbb2.png');
  color:black;
  font-size: 1.21em;
}
.comA
{
  background-color: #3da8d3;
  font-family: "MAXWELLREGULAR";
  font-size: 2rem;
}
.h1classbk {
    display:block;
    color: #00607C!important;
    font-family: "MAXWELLBOLD";
}

.h1classbk2 {
    display:block;
    color: #006D91;
    font-family: "MAXWELLBOLD";
}

.pclassbk {
    display:block;
    color: #000000;
    font-size: 1.7em;
    font-family: "MAXWELLREGULAR";
}

@media only screen and (min-width: 40.0625em){
  #divp
  {
    padding-top: 4.5rem;
  }

}
@media only screen and (min-width: 60.0625em){
  #divp
  {
    padding-top: 0rem;
  }

}


.tabs dd.active a, .tabs .tab-title.active a {
     background-color: #00607C;
     font-weight: bold;
     color: #ffffff;
     font-family: "MAXWELLREGULAR";
}

.tabs dd > a, .tabs .tab-title > a {
    display: block;
    font-weight: bold;
    background-color: #EFEFEF;
    color: #222222;
    font-family: "MAXWELLREGULAR";
    font-size: 1.5rem;
    padding: 1rem 2rem;
}

#tabinst ul.tabs {
    text-align: center; 
}

#tabinst ul.tabs li {
    float: none !important;
    display: inline-block; 
}
