/*Division principal del header*/
#u72{
    background-image: url('http://briko.cc/images/SiteMapFONDO3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

/*clase principal para poner que las cosas en el header se encojan*/
.important-class {
    -webkit-transition-property: background-color;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    background: rgba(255,255,255,0.3);
    background-size: cover;
}

.important-class .wrap {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-property: padding;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    padding: 30px;
    margin: 0 auto;
}

.important-class .wrap .brand {
    float: left;
    width: 100%;
}

.important-class .wrap .brand a img {
    -webkit-transition-property: width;
    -webkit-transition-duration: .5s;
    -webkit-transition-timing-function: linear;
    width: 250px;
}

.important-class .wrap2 {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition-property: padding;
    -webkit-transition-duration: 0.3s;
    -webkit-transition-timing-function: linear;
    padding: 5px;
    margin: 0 auto;
}

.important-class .wrap2 .brand {
    float: right;
}

.important-class .wrap2 .brand .asp1{
    -webkit-transition-property: font-size;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: linear;
    font-size: 150%;
    margin-top: 10px !important;
    font-weight: bold;
    width: 90% !important;
}

.important-class .wrap2 .brand .asp2 {
     -webkit-transition-property: font-size;
    -webkit-transition-duration: .3s;
    -webkit-transition-timing-function: linear;
    font-size: 190%;
    margin-top: 40px !important;
    font-weight: bold;
    width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}



.important-class2 {
    background: rgba(255,255,255,0.1);
    background-size: cover;
}

.important-class2 .wrap {
    padding: 10px 5px;
}

.important-class2 .wrap .brand {
    float: left;
    width: 60%;
}

.important-class2 .wrap .brand a img {
    width: 200px;
}

.important-class2 .wrap2 {
    padding: 10px 5px;
}

.important-class2 .wrap2 .brand {
    float: right;
}

.important-class2 .wrap2 .brand .asp1{
    font-size: 110%;
    margin-top: 5px !important;
    font-weight: bold;
    width: 86% !important;
}

.important-class2 .wrap2 .brand .asp2 {
    font-size: 140%;
    margin-top: 0px !important;
    font-weight: bold;
    width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

/*Solo para cuando la pantalla es menor a 650 pixeles*/
@media only screen and (max-width: 650px) {
 
    /* Makes the responsive menu fit in the navigation container and change its background to black */
    
    #menuc{
        font-size: 150%;
        top-padding:50px !important;
    }
    
    .top-bar ul {
        color: #000000;
        font-family: "MAXWELLBOLD";
        background-color: rgba(255,255,255, 0.5);
        padding-bottom: 50px !important;
    }
    
    /* Change non active menu item color to black */
    .top-bar-section ul li > a {
        font-family: "MAXWELLBOLD";
        color: #000000;
    }
    
    .brand a img{
     width: 40% !important;   
    }
    
    .wrap2{
     padding-top: 15px !important;   
    }
 
    /* Gives the dropdown ul a black fill */
    .top-bar-section ul {
        background: #ffffff;
        color: #000000;
    }
 
    /* Give the BACK button after going in a submenu the appropriate filling */
    .top-bar-section .dropdown li.title h5 a {
        line-height: 10px;
        font-family: "MAXWELLBOLD";
        color: #000000;
    }
 
    /* This fixes the position and the color of the dropdown arrow */
    .top-bar-section .has-dropdown > a:after {
        color: #000000;
        border-color: rgba(255, 255, 255, 1) transparent transparent;
        margin-top: 2.5px;
    }
    
.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
    font-family: "MAXWELLBOLD";
    color: #000000;
    display: block;
}

} /* end media query */