/*Division principal del header*/
#u72{
    background-image: url('http://briko.cc/images/SiteMapFONDO3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

/*cambia de clase con un script que se agrego en el header entre important-class y important-class2 al hacer scroll*/

/*clase principal para poner que las cosas en el header se encojan*/
.important-class {
    background: rgba(255,255,255,0.1);
    background-size: cover;
}

.important-class .wrap {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px;
    margin: 0 auto;
}

.important-class .wrap .brand {
    float: left;
    width: 60%;
}

.important-class .wrap .brand a img {
    width: 60%; 
    padding-top: 5px;  
    padding-right: 5px;  
    padding-left: 5px; 
}

.important-class .wrap2 {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 5px;
    margin: 0 auto;
}

.important-class .wrap2 .brand {
    float: right;
}

.important-class .wrap2 .brand .asp1{
    font-size: 110%;
    margin-top: 5px !important;
    font-weight: bold;
    width: 86% !important;
}

.important-class .wrap2 .brand .asp2 {
    font-size: 140%;
    margin-top: 0px !important;
    font-weight: bold;
    width: 100% !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.important-class3 #menuc {
    font-size: 120% !important;
}

.important-class3 .brand a img {
    width: 60% !important; 
    padding-top: 10px !important;  
    padding-right: 30px !important;  
    padding-left: 5px !important; 
}

/* Makes the responsive menu fit in the navigation container and change its background to black */
    
    #menuc{
        font-size: 150%;
        top-padding:50px !important;
    }
    
    .top-bar ul {
        color: #000000;
        font-family: "MAXWELLBOLD";
        background-color: rgba(255,255,255, 0.5);
        padding-bottom: 50px !important;
    }
    
    /* Change non active menu item color to black */
    .top-bar-section ul li > a {
        font-family: "MAXWELLBOLD";
        color: #000000;
    }

    .wrap2{
     padding-top: 15px !important;   
    }
 
    /* Gives the dropdown ul a black fill */
    .top-bar-section ul {
        background: #ffffff;
        color: #000000;
    }
 
    /* Give the BACK button after going in a submenu the appropriate filling */
    .top-bar-section .dropdown li.title h5 a {
        line-height: 10px;
        font-family: "MAXWELLBOLD";
        color: #000000;
    }
 
    /* This fixes the position and the color of the dropdown arrow */
    .top-bar-section .has-dropdown > a:after {
        color: #000000;
        border-color: rgba(255, 255, 255, 1) transparent transparent;
        margin-top: 2.5px;
    }
    
.top-bar-section .dropdown li.title h5 a, .top-bar-section .dropdown li.parent-link a {
    font-family: "MAXWELLBOLD";
    color: #000000;
    display: block;
}


