@font-face{
  font-family: "MAXWELLREGULAR";
  src: url(MAXWELLREGULAR.ttf) format("truetype");
}
@font-face{
  font-family: "MAXWELLBOLD";
  src: url(MAXWELLBOLD.ttf) format("truetype");
}
.videoPrincipal
{
	width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
}


.videoPrincipalRow video
{
	opacity: 0.8;
}

#cdown
{
	font-family: "MAXWELLBOLD";
	font-size: 4em;
	border-radius: 15px;
	text-align: center;
}

div.orbit-container
{
	height: 100%; /* Your own height */
	width: 100%; /* Your own width */
}
ul.orbit-ul, li.orbit-item
{
  height: 450px; /* Your own height */
}
li.orbit-item-1
{
  background: url(http://briko.cc/images/BannerN.jpg) no-repeat center;
  background-size: cover;
}
li.orbit-item-2
{
  background: url(http://briko.cc/images/BannerProyectos.png) no-repeat center;
  background-size: cover;
}
li.orbit-item-3
{
  background: url(http://briko.cc/images/BannerN.jpg) no-repeat center;
  background-size: cover;
}

.principal
{
	max-width: 90rem!important;

}
#banN
{
	background-image: url('http://briko.cc/images/BannerN.jpg'); 
	background-repeat: no-repeat;
    background-size: cover;
}


.overlay-container {
  position: relative;
}

.overlay-container .overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top :-30rem;
  padding: 0.4rem;
  background-color: rgba(255, 255, 255, 0.0);
}

#tituloCompra
{
	color:black;
	font-family: "MAXWELLBOLD";
	font-size: 1.5em;
}
#textoCompra
{
	color:black;
	font-family: "Helvetica";
	font-size: 1em;
	text-align: justify;
}

#tituloN
{
	color:black;
	font-family: "MAXWELLBOLD";
	font-size: 5em;
}

#textoN
{
	color:black;
	font-family: "MAXWELLREGULAR";
	font-size: 2em;
}
#tituloE
{
	color:white;
	font-family: "MAXWELLBOLD";
	font-size: 5em;
}

#textoE
{
	color:white;
	font-family: "MAXWELLREGULAR";
	font-size: 2em;
}

.linkE
{
	color:#0294C4;
	font-family: "MAXWELLBOLD";
}

#FootT
{
	background-image: url('http://briko.cc/images/SiteMapFONDO2.png'); 
	    background-repeat: no-repeat;
    background-size: cover;
}
#siteF
{
	color:#0093C4;
	font-family: "MAXWELLBOLD";
	font-size: 2.5em;
}
#ulLinks
{
	font-family: "MAXWELLREGULAR";
    font-size: 1.5em;
    color: #00607C;
}
#siguenos
{
	color:#0093C4;
	font-family: "MAXWELLBOLD";
	font-size: 2.5em;
	text-align: center;
}
#tmail
{
	color:#0093C4;
	font-family: "MAXWELLBOLD";
	font-size: 1.5em;
	text-align: center;
}
#rmail
{
	color:#0093C4;
	font-family: "MAXWELLBOLD";
	font-size: 1.3em;
	text-align: center;
}
#texform
{
	padding-right: 0px!important;
	padding-bottom: 0px!important;
}
#butform
{
	padding-left: 0px!important;
	padding-bottom: 0px!important;
	height: 51px!important;
}
#widgetu2538_input
{
	margin-bottom: 0px!important;
	height: 3.13rem!important;
}
.tKits
{
	color:#3da8d3;
	font-family: "MAXWELLBOLD";
	font-size: 3em;
	
}
.desK
{
	font-family: "MAXWELLREGULAR";
	font-size: 1.3rem;
	background-color: #3da8d3;
	border-radius: 15px;
}
.desT
{
	font-family: "Helvetica";
	font-size: 1.3rem;
	color: black;
}
.comK
{
	background-color:#3da8d3;
	font-family: "MAXWELLBOLD";
	font-size: 2em;
	border-radius: 15px;
	
}
#ulLinks li {
    list-style-image: url('http://briko.cc/images/flechitasbb2.png');
    margin:0;
    cursor: pointer;
    background-position: 1px 8px;
    background-repeat: no-repeat;
    color:#000000;
    padding-left: 10px;
}
#ulLinks ul{
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
    color:#3da8d3;
}
#vistoEn
{
	font-family: "MAXWELLBOLD";
	font-size: 3em;
	border-radius: 15px;
	text-align: center;
}
.desKY {
    font-family: "MAXWELLREGULAR";
    font-size: 1.3rem;
    background-color: #3da8d3;
    border-radius: 15px;
}

.top-bar .name li h1 a:before {
    background-image: url('http://briko.cc/images/LogoBriko250.png');
    background-size:cover;
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 35px;
    margin-right: 10px;
    position: relative;
    width: 130px;
}
.inputReg
{
    border-top-right-radius: 15px!important;
    border-bottom-right-radius: 15px!important;
}
.tagInputReg
{
    background-color: #3DA8D3!important;
    color: white!important;
    border-color: transparent!important;
    border-top-left-radius: 15px!important;
    border-bottom-left-radius: 15px!important;
}
.modalInicio
{
	font-family: "MAXWELLBOLD";
	font-size: 3em;
	color: #00607C!important;
	
}