
/* oculta todo menos el header*/
body > :not(.pace),body:before,body:after {
  -webkit-transition:opacity .4s ease-in-out;
  -moz-transition:opacity .4s ease-in-out;
  -o-transition:opacity .4s ease-in-out;
  -ms-transition:opacity .4s ease-in-out;
  transition:opacity .4s ease-in-out
}

body:not(.pace-done) > :not(.pace),body:not(.pace-done):before,body:not(.pace-done):after {
  opacity:0
}

/*oculta el header*/
.headerprincipal > :not(.pace),.headerprincipal:before,.headerprincipal:after {
  -webkit-transition:opacity .4s ease-in-out;
  -moz-transition:opacity .4s ease-in-out;
  -o-transition:opacity .4s ease-in-out;
  -ms-transition:opacity .4s ease-in-out;
  transition:opacity .4s ease-in-out
}

.headerprincipal:not(.pace-done) > :not(.pace),.headerprincipal:not(.pace-done):before,.headerprincipal:not(.pace-done):after {
  opacity:100
}