.version.politica /* version checker */
{
	color: #0000EA;
	background-color: #138551;
}

.html
{
	background-color: #EDEDED;
}

#page
{
	z-index: 1;
	width: 940px;
	min-height: 1012.958969629191px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -402px;
	padding-top: 158px;
}

#u1351
{
	z-index: 64;
	height: 100px;
	border-color: #000000;
	background-color: #5B5B5B;
	position: fixed;
	top: 0px;
}

#u1351-bw
{
	z-index: 64;
}

#u1352
{
	z-index: 65;
	width: 212px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -470px;
	background: #FFFFFF url("../images/logo-briko.png") no-repeat center center;
}

#buttonu2409
{
	z-index: 102;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -155px;
}

#buttonu2409:hover
{
	margin: 0px 0px 0px -155px;
}

#buttonu2409.ButtonSelected
{
	margin: 0px 0px 0px -155px;
}

#u2410
{
	z-index: 107;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u2410
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu2409:hover #u2410
{
	background-color: #FFFFFF;
	margin: 0px;
}

.ie #buttonu2409:hover #u2410
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu2409.ButtonSelected #u2410
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u2411-4
{
	z-index: 103;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
}

#buttonu2409:hover #u2411-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu1353
{
	z-index: 66;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -30px;
}

#buttonu1353:hover
{
	margin: 0px 0px 0px -30px;
}

#buttonu1353.ButtonSelected
{
	margin: 0px 0px 0px -30px;
}

#u1354
{
	z-index: 71;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u1354
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu1353:hover #u1354
{
	background-color: #FFFFFF;
	margin: 0px;
}

.ie #buttonu2409.ButtonSelected #u2410,.ie #buttonu1353:hover #u1354
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu1353.ButtonSelected #u1354
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1355-4
{
	z-index: 67;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
}

#buttonu2409.ButtonSelected #u2411-4,#buttonu1353:hover #u1355-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu1362
{
	z-index: 84;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 95px;
}

#buttonu1362:hover
{
	margin: 0px 0px 0px 95px;
}

#buttonu1362.ButtonSelected
{
	margin: 0px 0px 0px 95px;
}

#u1364
{
	z-index: 89;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u1364
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu1362:hover #u1364
{
	background-color: #FFFFFF;
	margin: 0px;
}

.ie #buttonu1353.ButtonSelected #u1354,.ie #buttonu1362:hover #u1364
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu1362.ButtonSelected #u1364
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1363-4
{
	z-index: 85;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
}

#buttonu1353.ButtonSelected #u1355-4,#buttonu1362:hover #u1363-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu1359
{
	z-index: 78;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 220px;
}

#buttonu1359:hover
{
	margin: 0px 0px 0px 220px;
}

#buttonu1359.ButtonSelected
{
	margin: 0px 0px 0px 220px;
}

#u1361
{
	z-index: 83;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u1361
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu1359:hover #u1361
{
	background-color: #FFFFFF;
	margin: 0px;
}

.ie #buttonu1362.ButtonSelected #u1364,.ie #buttonu1359:hover #u1361
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu1359.ButtonSelected #u1361
{
	background-color: #FFFFFF;
	margin: 0px;
}

#u1360-4
{
	z-index: 79;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
}

#buttonu1362.ButtonSelected #u1363-4,#buttonu1359:hover #u1360-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu1356
{
	z-index: 72;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 345px;
}

#buttonu1356:hover
{
	margin: 0px 0px 0px 345px;
}

#buttonu1356.ButtonSelected
{
	margin: 0px 0px 0px 345px;
}

#u1357
{
	z-index: 77;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u1357
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu1356:hover #u1357
{
	background-color: #FFFFFF;
	margin: 0px;
}

.ie #buttonu1359.ButtonSelected #u1361,.ie #buttonu1356:hover #u1357
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu1356.ButtonSelected #u1357
{
	background-color: #FFFFFF;
	margin: 0px;
}

.ie #buttonu1356.ButtonSelected #u1357
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#u1358-4
{
	z-index: 73;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
}

#buttonu1359.ButtonSelected #u1360-4,#buttonu1356:hover #u1358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu1356.ButtonSelected #u1358-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#u1365
{
	z-index: 90;
	width: 130px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 87px;
	left: 50%;
	margin-left: 341px;
}

#u1367
{
	z-index: 91;
	width: 130px;
	border-color: #000000;
	background-color: #464646;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u1366-10
{
	z-index: 92;
	width: 130px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1377-4
{
	z-index: 28;
	width: 820px;
	background-color: transparent;
	line-height: 29px;
	text-align: left;
	font-size: 24px;
	color: #5B5B5B;
	margin-left: 60px;
	position: relative;
}

#u1378-32
{
	z-index: 32;
	width: 820px;
	background-color: transparent;
	margin-left: 60px;
	margin-top: 21px;
	position: relative;
}

#u1378-2,#u1378-3,#u1378-5,#u1378-6,#u1378-8,#u1378-9,#u1378-11,#u1378-12,#u1378-14,#u1378-15,#u1378-17,#u1378-18,#u1378-20,#u1378-21,#u1378-23,#u1378-24,#u1378-29
{
	font-size: 14px;
	text-align: left;
	line-height: 17px;
}

#pu1368
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 55px;
}

#u1368
{
	z-index: 2;
	border-color: #000000;
	padding-bottom: 158px;
	background: transparent url("../images/footer-pattern.jpg") repeat-x left center;
}

#u1369-4
{
	z-index: 3;
	width: 699px;
	min-height: 50px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #EDEDED;
	position: relative;
	margin-right: -10000px;
	margin-top: 94px;
	left: 221px;
}

#u1368-bw
{
	z-index: 2;
	height: 144px;
}

#u1370
{
	z-index: 8;
	height: 53px;
	width: 53px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 454px;
	background: url("../images/icono-facebook-u1370.png") no-repeat 0px 0px;
}

#u1370:hover
{
	background: url("../images/icono-facebook-u1370-r.png") no-repeat 0px 0px;
}

#u1371
{
	z-index: 11;
	height: 53px;
	width: 53px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 544px;
	background: url("../images/icono-twitter-u1371.png") no-repeat 0px 0px;
}

#u1371:hover
{
	background: url("../images/icono-twitter-u1371-r.png") no-repeat 0px 0px;
}

#u1372
{
	z-index: 14;
	height: 53px;
	width: 53px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 161px;
	left: 634px;
	background: url("../images/icono-gplus-u1372.png") no-repeat 0px 0px;
}

#u1372:hover
{
	background: url("../images/icono-gplus-u1372-r.png") no-repeat 0px 0px;
}

#u1373
{
	z-index: 16;
	border-color: #000000;
	background-color: #EDEDED;
	padding-bottom: 7px;
}

#u1368_align_to_page,#u1373_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	position: relative;
	left: -100px;
}

#u1374-10
{
	z-index: 17;
	width: 414px;
	min-height: 23px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 100px;
}

#u1375
{
	z-index: 27;
	width: 470px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 570px;
}

#u1373-bw
{
	z-index: 16;
	height: 95px;
}

body
{
	position: relative;
	min-width: 940px;
	padding-bottom: 401px;
}

