
@font-face{
  font-family: "myriadweb";
  src: url(myriad-web-pro.ttf) format("truetype");
}
.prettyprint
{
  font-family: "myriadweb", sans-serif !important;
  font-size: 1.2em;
  word-wrap: break-word!important;
}

.pln{color:#000}
@media screen{
  .str{color:#080}
  .kwd{color:#8BC63E}
  .com{color:#006C90;word-wrap: break-word;
    }
  .typ{color:#8BC63E}
  .lit{color:#066}
  .pun,.opn,.clo{color:#660}
  .tag{color:#008}
  .atn{color:#606}
  .atv{color:#080}
  .dec,
  .var{color:#606}
  .fun{color:red}
  .lit1{color:red}
}
  @media print,projection{
  .str{color:#060}
  .kwd{color:#8BC63E;font-weight:bold}
  .com{color:#006C90;font-style:italic;word-wrap: break-word;
    }
  .typ{color:#404;font-weight:bold}
  .lit{color:#044}
  .pun,.opn,.clo{color:#440}
  .tag{color:#006;font-weight:bold}
  .atn{color:#404}
  .atv{color:#060}
}
  pre.prettyprint{padding:2px;word-wrap: break-word!important;}
  ol.linenums{margin-top:0;margin-bottom:0}
  li.L0,li.L1,li.L2,li.L3,li.L4,li.L5,li.L6,li.L7,li.L8{list-style-type:decimal;background:#DBDEDD;}
  li.L1,li.L3,li.L5,li.L7,li.L9{background:#DBDEDD}