@font-face{
  font-family: "MAXWELLBOLD";
  src: url(http://briko.cc/css/MAXWELLBOLD.ttf) format("truetype");
}
@font-face{
  font-family: "MAXWELLREGULAR";
  src: url(http://briko.cc/css/MAXWELLREGULAR.ttf) format("truetype");
}

#bComm
{
	background: transparent url("http://briko.cc/images/Comments.png") repeat scroll 0% 0% / 100% auto;
}

#tProy
{
	font-family: "MAXWELLBOLD";
}

#Commts
{
	position: relative;
top: -11em;
width: 80%;
text-align: justify;
padding-left: 54px;
color: #121212;
font-family: "HELVETICA";
}
.row
{
	max-width: 75rem!important;
}