.version.index /* version checker */
{
	color: #000016;
	background-color: #30063B;
}
@font-face{
  font-family: "MAXWELLBOLD";
  src: url(MAXWELLBOLD.ttf) format("truetype");
}
@font-face{
  font-family: "MAXWELLREGULAR";
  src: url(MAXWELLREGULAR.ttf) format("truetype");
}
h2 { font-family: "MAXWELLREGULAR", sans-serif !important;}

.html
{
	background-color: white;
}

#page
{
	z-index: 1;
	width: 940px;
	min-height: 5456.658969629225px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -402px;
}

#inicio
{
	left: -1165px;
	position: relative;
}

#pu72
{
	width: 0.01px;
	padding-bottom: 100px;
	margin-left: -100px;
	margin-top: -18px;
}

#u72
{
	z-index: 298;
	height: 95px;
	border-color: #000000;
	background-color: white;
	position: fixed;
	top: 0px;
	background-image: url("../images/bannerSup.png");
	background-size: 119%;
	background-origin: border-box;
}

#u72-bw
{
	z-index: 298;
}

#u73
{
	z-index: 299;
	width: 300px;
	height: 100px;
	border-color: #000000;
	position: fixed;
	top: 0px;
	left: 35%;
	margin-left: -470px;
	background:  url("../images/Logo-300x100.png") no-repeat center center;
}

#u2407
{
	z-index: 314;
	width: 625px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 88px;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -155px;
}

#buttonu2404
{
	z-index: 339;
	width: 130px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: -155px;
}

#buttonu2404:hover
{
	margin: 0px 0px 0px -155px;
}

#buttonu2404.ButtonSelected
{
	margin: 0px 0px 0px -155px;
}

#u2406
{
	z-index: 344;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u2406
{
	background-color: #8bc53f;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu2404:hover #u2406
{
	background-color: #8bc53f;
	margin: 0px;
}

.ie #buttonu2404:hover #u2406
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu2404.ButtonSelected #u2406
{
	background-color: #8bc53f;
	margin: 0px;
}

#u2405-4
{
	z-index: 340;
	width: 145px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
	font-size: 180%;
}

#buttonu2404:hover #u2405-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu150
{
	z-index: 315;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 55%;
	margin-left: -30px;
}

#buttonu150:hover
{
	margin: 0px 0px 0px -30px;
}

#buttonu150.ButtonSelected
{
	margin: 0px 0px 0px -30px;
}

#u152
{
	z-index: 320;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u152
{
	background-color: #8bc53f;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu150:hover #u152
{
	background-color: #8bc53f;
	margin: 0px;
}

.ie #buttonu2404.ButtonSelected #u2406,.ie #buttonu150:hover #u152
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu150.ButtonSelected #u152
{
	background-color: black;
	margin: 0px;
}

#u151-4
{
	z-index: 316;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
	font-size: 180%;
}

#buttonu2404.ButtonSelected #u2405-4,#buttonu150:hover #u151-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu150:hover #u151-4 p
{
	color: black;
	visibility: inherit;
}

#buttonu192
{
	z-index: 333;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 56%;
	margin-left: 95px;
}

#buttonu192:hover
{
	margin: 0px 0px 0px 95px;
}

#buttonu192.ButtonSelected
{
	margin: 0px 0px 0px 95px;
}

#u194
{
	z-index: 338;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u194
{
	background-color: #8bc53f;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu192:hover #u194
{
	background-color: #8bc53f;
	margin: 0px;
}

.ie #buttonu150.ButtonSelected #u152,.ie #buttonu192:hover #u194
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu192.ButtonSelected #u194
{
	background-color: black;
	margin: 0px;
}

#u193-4
{
	z-index: 334;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
	font-size: 180%;
}

#buttonu150.ButtonSelected #u151-4,#buttonu192:hover #u193-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu189
{
	z-index: 327;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 56%;
	margin-left: 220px;
}

#buttonu189:hover
{
	margin: 0px 0px 0px 220px;
}

#buttonu189.ButtonSelected
{
	margin: 0px 0px 0px 220px;
}

#u191
{
	z-index: 332;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u191
{
	background-color: #8bc53f;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu189:hover #u191
{
	background-color: #8bc53f;
	margin: 0px;
}

.ie #buttonu192.ButtonSelected #u194,.ie #buttonu189:hover #u191
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu189.ButtonSelected #u191
{
	background-color: #8bc53f;
	margin: 0px;
}

#u190-4
{
	z-index: 328;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
	font-size: 180%;
}

#buttonu192.ButtonSelected #u193-4,#buttonu189:hover #u190-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu186
{
	z-index: 321;
	width: 125px;
	border-color: #787878;
	background-color: transparent;
	position: fixed;
	top: 0px;
	left: 50%;
	margin-left: 345px;
}

#buttonu186:hover
{
	margin: 0px 0px 0px 345px;
}

#buttonu186.ButtonSelected
{
	margin: 0px 0px 0px 345px;
}

#u188
{
	z-index: 326;
	width: 125px;
	height: 10px;
	border-color: #FFFFFF;
	background-color: transparent;
	position: relative;
}

.ie #u188
{
	background-color: #8bc53f;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu186:hover #u188
{
	background-color: #8bc53f;
	margin: 0px;
}

.ie #buttonu189.ButtonSelected #u191,.ie #buttonu186:hover #u188
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu186.ButtonSelected #u188
{
	background-color: #8bc53f;
	margin: 0px;
}

#u187-4
{
	z-index: 322;
	width: 125px;
	min-height: 50px;
	background-color: transparent;
	line-height: 24px;
	margin-top: 28px;
	position: relative;
}

#buttonu189.ButtonSelected #u190-4,#buttonu186:hover #u187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#buttonu186.ButtonSelected #u187-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 50px;
	margin: 28px 0px 0px;
}

#u595
{
	z-index: 302;
	width: 130px;
	border-style: solid;
	border-color: #8bc53f;
	background-color: transparent;
	position: fixed;
	top: 87px;
	left: 50%;
	margin-left: 341px;
	border-width: 1px;
}

#u593
{
	z-index: 303;
	width: 130px;
	border-color: #000000;
	background-color: white;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
}

#u594-10
{
	z-index: 304;
	width: 130px;
	min-height: 19px;
	background-color: transparent;
	line-height: 14px;
	font-size: 12px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#pu125
{
	width: 0.01px;
	margin-left: -100px;
}

#u125
{
	z-index: 225;
	border-color: #000000;
	background: #FFFFFF url("../images/briko-completo.jpg") no-repeat center center;
}

#u125_position_content
{
	margin-bottom: -15px;
	padding-top: 79px;
}

#u138-6
{
	z-index: 226;
	width: 400px;
	min-height: 140px;
	background-color: transparent;
	left: 100px;
	position: relative;
}

#u207-4
{
	z-index: 241;
	width: 400px;
	min-height: 210px;
	background-color: transparent;
	line-height: 32px;
	font-size: 29px;
	left: 100px;
	margin-top: 36px;
	position: relative;
}

#u125-bw
{
	z-index: 225;
	height: 450px;
}

#u195-4
{
	z-index: 232;
	width: 249px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 45px;
}

#u197-4
{
	z-index: 236;
	width: 249px;
	min-height: 26px;
	background-color: transparent;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 308px;
}

#u199
{
	z-index: 240;
	width: 23px;
	height: 23px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 209px;
	left: 290px;
	background: transparent url("../images/icono-mas.png") no-repeat center center;
}

#u2559
{
	background-color: white;
    border-color: #eceeed;
    border-style: solid;
	border-width: 0 0 0 14px;
    height: 100%;
    position: fixed;
    right: 0;
	top: 6.7em;
    width: 490px;
    z-index: 20;
	background-image: url("../images/barraderechaDif.png");
	background-size: 100%;
}

#u2559:hover
{
	margin: 0px;
	/*background: transparent url("../images/boton-venta-on.png") no-repeat right center;*/
}

#u397
{
	z-index: 214;
	border-color: #000000;
	padding-bottom: 119px;
	background: transparent url("../images/panel-que.jpg") no-repeat center top;
	background-size: cover;
}

#u398
{
	z-index: 215;
	width: 90px;
	height: 78px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 210px;
	background: transparent url("../images/icono-comilla.png") no-repeat left top;
}

#u399-4
{
	z-index: 216;
	width: 620px;
	min-height: 201px;
	background-color: transparent;
	line-height: 33px;
	text-align: left;
	text-indent: 239px;
	font-size: 30px;
	position: relative;
	margin-right: -10000px;
	margin-top: 80px;
	left: 325px;
}

#u397-bw
{
	z-index: 214;
	height: 281px;
}

#u400-4
{
	z-index: 220;
	width: 260px;
	min-height: 60px;
	background-color: transparent;
	line-height: 60px;
	color: #5B5B5B;
	text-align: left;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	left: 310px;
}

#u368
{
	z-index: 117;
	border-color: #000000;
	background-color: #8BC53F;
	padding-bottom: 0px;
}

#u368_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	position: relative;
	left: -90px;
	padding-top: 70px;
	padding-bottom: 17px;
}

#pu369-4
{
	width: 0.01px;
	left: 131px;
	position: relative;
}

#u369-4
{
	z-index: 118;
	width: 240px;
	min-height: 70px;
	background-color: transparent;
	line-height: 67px;
	font-size: 56px;
	color: #EDEDED;
	position: relative;
	margin-right: -10000px;
}

#u370-4
{
	z-index: 122;
	width: 300px;
	min-height: 70px;
	background-color: transparent;
	line-height: 67px;
	font-size: 56px;
	color: #EDEDED;
	position: relative;
	margin-right: -10000px;
	left: 284px;
}

#pu374
{
	width: 0.01px;
	left: 116px;
	margin-top: 13px;
	position: relative;
}

#u374
{
	z-index: 127;
	width: 235px;
	min-height: 151px;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
}

#u372
{
	z-index: 126;
	width: 161px;
	min-height: 165px;
	position: relative;
	margin-right: -10000px;
	left: 350px;
}

#u1409-4
{
	z-index: 170;
	width: 140px;
	min-height: 24px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	color: #EDEDED;
	left: 500px;
	margin-top: 29px;
	position: relative;
}

#u1410
{
	z-index: 174;
	width: 56px;
	height: 56px;
	border-color: #000000;
	left: 542px;
	margin-top: 1px;
	position: relative;
	background: transparent url("../images/flecha-scroll.png") no-repeat left top;
}

#u368-bw
{
	z-index: 117;
	height: 451px;
}

#u378-4
{
	z-index: 128;
	width: 131px;
	min-height: 133px;
	background-color: transparent;
	line-height: 120px;
	font-size: 100px;
	color: #D3D3D3;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 1136px;
}

#u379-4
{
	z-index: 132;
	width: 131px;
	min-height: 133px;
	background-color: transparent;
	line-height: 120px;
	font-size: 100px;
	color: #D3D3D3;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 1417px;
}

#u380-4
{
	z-index: 136;
	width: 131px;
	min-height: 244px;
	background-color: transparent;
	line-height: 120px;
	font-size: 100px;
	color: #D3D3D3;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	left: 1736px;
}

#slideshowu932
{
	z-index: 143;
	width: 0.01px;
	height: 265px;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 1785px;
}

#u933
{
	position: absolute;
	width: 340px;
	height: 180px;
	background-color: transparent;
	top: 85px;
}

#u933popup
{
	z-index: 144;
}

#u934
{
	z-index: 145;
	width: 340px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u934_img
{
	padding: 38px 135px 36px 45px;
}

#u968
{
	z-index: 147;
	width: 340px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u968_img
{
	padding: 7px 163px 7px 138px;
}

#u977
{
	z-index: 149;
	width: 340px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u977_img
{
	padding: 13px 153px 1px 46px;
}

#u986
{
	z-index: 151;
	width: 340px;
	height: 180px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u986_img
{
	padding: 12px 187px 2px 38px;
}

#u941
{
	position: absolute;
	width: 281px;
	background-color: transparent;
	left: 39px;
}

#u941popup
{
	z-index: 153;
}

#u942-4
{
	z-index: 154;
	width: 261px;
	min-height: 78px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 78px;
	text-align: left;
	font-size: 56px;
	color: #EDEDED;
	margin-right: -10000px;
	position: relative;
}

#u974-4
{
	z-index: 158;
	width: 280px;
	min-height: 78px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 78px;
	text-align: left;
	font-size: 56px;
	color: #EDEDED;
	margin-right: -10000px;
	position: relative;
}

#u983-4
{
	z-index: 162;
	width: 261px;
	min-height: 78px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 78px;
	text-align: left;
	font-size: 56px;
	color: #EDEDED;
	margin-right: -10000px;
	position: relative;
}

#u992-4
{
	z-index: 166;
	width: 261px;
	min-height: 78px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding: 10px;
	line-height: 78px;
	text-align: left;
	font-size: 56px;
	color: #EDEDED;
	margin-right: -10000px;
	position: relative;
}

.SSSlideLoading /* slideshowFreeStyle */
{
	background: url("../images/loading.gif") no-repeat center center;
}

#definicion
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 301px;
}

#pu1389
{
	width: 0.01px;
	margin-top: 15px;
}

#u1389
{
	z-index: 2;
	width: 960px;
	height: 650px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#U2446_animation
{
	width: 960px;
	height: 650px;
	border: none;
}

#u1422
{
	z-index: 179;
	width: 328px;
	min-height: 716px;
	position: relative;
	margin-right: -10000px;
	margin-top: 434px;
	left: 408px;
}

.js #u1422.ose_pre_init
{
	opacity: 0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
}

#pu1427
{
	width: 0.01px;
	padding-bottom: 528px;
	margin-left: 44px;
	margin-top: -531px;
}

#u1427
{
	z-index: 180;
	width: 380px;
	height: 401px;
	border-color: #000000;
	position: fixed;
	top: 2161px;
	left: 44px;
	background: transparent url("../images/pc.png") no-repeat center center;
}

#u1445
{
	z-index: 181;
	width: 478px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2034px;
	left: 484px;
}

#u1438-4
{
	z-index: 182;
	width: 400px;
	min-height: 115px;
	background-color: transparent;
	line-height: 106px;
	text-align: left;
	font-size: 85px;
	color: #8BC53F;
	position: relative;
	margin-right: -10000px;
	margin-top: 118px;
}

#u1439-4
{
	z-index: 186;
	width: 131px;
	min-height: 400px;
	background-color: transparent;
	line-height: 390px;
	font-size: 325px;
	color: #D3D3D3;
	position: relative;
	margin-right: -10000px;
	left: 347px;
}

#u1441-6
{
	z-index: 190;
	width: 324px;
	min-height: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 210px;
	left: 2px;
}

#u1442-4
{
	z-index: 196;
	width: 324px;
	min-height: 89px;
	background-color: transparent;
	line-height: 26px;
	text-indent: 160px;
	position: relative;
	margin-right: -10000px;
	margin-top: 243px;
	left: 2px;
}

#u1446
{
	z-index: 200;
	width: 470px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: fixed;
	top: 2569px;
	left: 19px;
}

#u1450-4
{
	z-index: 205;
	width: 131px;
	min-height: 400px;
	background-color: transparent;
	line-height: 390px;
	font-size: 325px;
	color: #D3D3D3;
	position: relative;
	margin-right: -10000px;
}

#pu1449-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 118px;
	margin-left: 177px;
}

#u1449-4
{
	z-index: 201;
	width: 290px;
	min-height: 115px;
	background-color: transparent;
	line-height: 106px;
	text-align: left;
	font-size: 88px;
	color: #8BC53F;
	position: relative;
	margin-right: -10000px;
	left: 3px;
}

#u1448-4
{
	z-index: 209;
	width: 286px;
	min-height: 89px;
	background-color: transparent;
	line-height: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
}

#u1456
{
	z-index: 213;
	width: 560px;
	min-height: 335px;
	position: fixed;
	top: 2655px;
	left: 389px;
}

#pu1395
{
	width: 0.01px;
	margin-left: -1165px;
	margin-top: 462px;
}

#u1395
{
	z-index: 140;
	border-color: #000000;
	background-color: #EDEDED;
	padding-bottom: 60px;
}

#u598
{
	z-index: 141;
	width: 940px;
	height: 302px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 115px;
	left: 100px;
	background: transparent url("../images/brikos.png") no-repeat center center;
}

#u1395-bw
{
	z-index: 140;
	height: 417px;
}

#diy
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 377px;
}

#u1417-4
{
	z-index: 175;
	width: 544px;
	min-height: 107px;
	background-color: transparent;
	line-height: 106px;
	text-align: right;
	font-size: 84px;
	color: #8BC53F;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 1561px;
}

#pu368,#ppaprende
{
	width: 0.01px;
	margin-left: -1165px;
}

#paprende
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 787px;
}

#aprende
{
	position: relative;
}

#contacto
{
	margin-top: 695px;
	position: relative;
}

#u480
{
	z-index: 3;
	border-color: #000000;
	/* background: transparent url("../images/panel-educacion.jpg") no-repeat center top;*/
	background-size: cover;
}

#u480_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	position: relative;
	left: -100px;
	padding-top: 80px;
	padding-bottom: 61px;
}

#pu481-8
{
	width: 0.01px;
	left: 100px;
	position: relative;
}

#u481-8
{
	z-index: 4;
	width: 270px;
	min-height: 166px;
	background-color: transparent;
	line-height: 50px;
	text-align: left;
	font-size: 50px;
	color: #5B5B5B;
	position: relative;
	margin-right: -10000px;
}

#u482
{
	z-index: 12;
	width: 24px;
	height: 20px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 290px;
	background: transparent url("../images/icono-comilla-verde.png") no-repeat center center;
}

#u483-8
{
	z-index: 13;
	width: 430px;
	min-height: 145px;
	background-color: transparent;
	line-height: 30px;
	text-align: left;
	font-size: 20px;
	color: white;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: 321px;
}

#buttonu1490
{
	z-index: 21;
	width: 290px;
	-pie-box-shadow: 1px 1px 0px #7F7F7F;
	-moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 0px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-color: #6fa12c;
	background-color: #8bc53f;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 5px;
	left: 424px;
	margin-top: 330px;
	position: relative;
	border-width: 0px 0px 10px;
}

#button_proy_m
{
	z-index: 21;
	width: 290px;
	-pie-box-shadow: 1px 1px 0px #7F7F7F;
	-moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 0px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-color: #6fa12c;
	background-color: #8bc53f;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 5px;
	left: 300px;
	margin-top: 0px;
	position: relative;
	border-width: 0px 0px 10px;
}

#buttonu1490:hover
{
	border-color: #D75B5B;
	background-color: #E97979;
	width: 290px;
	min-height: 0px;
	margin: 330px 0px 0px;
}

#buttonu1490.ButtonSelected
{
	border-color: #B44A4A;
	background-color: #D75B5B;
	width: 290px;
	min-height: 0px;
	margin: 330px 0px 0px;
}

#u1491-6
{
	z-index: 22;
	width: 290px;
	min-height: 49px;
	background-color: transparent;
	line-height: 24px;
	color: #E4E7E1;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu1490:hover #u1491-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1490.ButtonSelected #u1491-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 49px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1490:hover #u1491-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#u480-bw
{
	z-index: 3;
	margin-top: 1155px;
	height: 709px;
}

#u421
{
	z-index: 77;
	border-color: #000000;
	padding-bottom: 299px;
	background-color: white;
	background-size: cover;
}

#u1075
{
	z-index: 78;
	width: 490px;
	border-color: #000000;
	background-color: white;
	padding-bottom: 0px;
	position: relative;
	margin-right: -10000px;
	left: 90px;
}

#u1075_position_content
{
	padding-top: 40px;
	padding-bottom: 26px;
}

#u429-6
{
	z-index: 270;
	width: 715px;
	min-height: 115px;
	background-color: transparent;
	line-height: 50px;
	font-size: 60px;
	color: #5B5B5B;
	left: 118px;
	position: relative;
}

#pu434
{
	width: 0.01px;
	margin-left: 29px;
	margin-top: 3px;
}

#u434
{
	z-index: 224;
	width: 24px;
	height: 20px;
	border-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	background: transparent url("../images/icono-comilla-verde.png") no-repeat center center;
}

#u430-8
{
	z-index: 276;
	width: 409px;
	min-height: 117px;
	background-color: transparent;
	line-height: 32px;
	text-align: left;
	font-size: 27px;
	color: #EDEDED;
	position: relative;
	margin-right: -10000px;
	left: 31px;
}

#u421-bw
{
	z-index: 77;
	height: 301px;
}

#u1076
{
	z-index: 79;
	border-color: #000000;
	background-color: white;
}

#u1076_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	position: relative;
	left: -100px;
	padding-top: 41px;
	padding-bottom: 21px;
}

#u1077-6
{
	z-index: 285;
	width: 460px;
	min-height: 147px;
	background-color: transparent;
	font-size: 25px;
	left: 100px;
	position: relative;
}

#u1077-2
{
	line-height: 30px;
}

#u1077-4
{
	line-height: 50px;
}

#buttonu1078
{
	z-index: 291;
	width: 290px;
	-pie-box-shadow: 1px 1px 0px #7F7F7F;
	-moz-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 1px 1px 0px -1px rgba(0, 0, 0, 0.5);
	box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-color: #B44A4A;
	background-color: #D75B5B;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	padding-bottom: 6px;
	left: 185px;
	margin-top: 20px;
	position: relative;
	border-width: 0px 0px 10px;
}

#buttonu1078:hover
{
	border-color: #D75B5B;
	background-color: #E97979;
	width: 290px;
	min-height: 0px;
	margin: 20px 0px 0px;
}

#buttonu1078.ButtonSelected
{
	border-color: #B44A4A;
	background-color: #D75B5B;
	width: 290px;
	min-height: 0px;
	margin: 20px 0px 0px;
}

#u1079-6
{
	z-index: 292;
	width: 290px;
	min-height: 48px;
	background-color: transparent;
	line-height: 24px;
	color: #E4E7E1;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
}

#buttonu1078:hover #u1079-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1078.ButtonSelected #u1079-6
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 48px;
	margin: 8px -10000px 0px 0px;
}

#buttonu1078:hover #u1079-6 p
{
	color: #FFFFFF;
	visibility: inherit;
}

#buttonu1490.ButtonSelected #u1491-6 p,#buttonu1078.ButtonSelected #u1079-6 p
{
	color: #E4E7E1;
	visibility: inherit;
}

#u1076-bw
{
	z-index: 79;
	margin-top: 591px;
	height: 300px;
}

#pamphletu1143
{
	height: 5px;
    left: 935px;
    margin-right: -10000px;
    margin-top: 292px;
    padding-bottom: 595px;
    position: relative;
    width: 0.01px;
    z-index: 80;
}

#u1144
{
	position: absolute;
	width: 490px;
}

#u1144popup
{
	z-index: 81;
}

#u1145
{
	z-index: 82;
	width: 490px;
	height: 600px;
	border-color: #999999;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	top:-3em;
}

#u1146
{
	left: 90px;
    margin-right: -10000px;
    padding-bottom: 0;
    position: relative;
    top: -3em;
    width: 300px;
    z-index: 86;
}

#u1146-des
{
	left: 90px;
    margin-right: -10000px;
    padding-bottom: 0;
    position: relative;
    top: 0px;
    width: 500px;
    z-index: 84;
}

.sharebttn
{
	left: 70em;
    position: relative;
    top: -10.6em;
    width: 65%;
}

.likebttn
{
	left: 55em;
    position: relative;
    top: -2.5em;
    width: 65%;
}

#buttonu1202-1
{
	background-color: transparent;
    border-color: #787878;
    height: 298px;
    margin-right: -10000px;
    margin-left: 6.5em;
    position: absolute;
    width: 300px !important;
    z-index: 88;
}
#buttonu1202-1:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.3);
	
	-pie-background: rgba(255, 255, 255, 0.3);
}

#buttonu1202-1:visited
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.3);
	
	-pie-background: rgba(255, 255, 255, 0.3);
}


#buttonu1490-des
{
	position: relative;
    width: 190px;
    z-index: 21;
    background-color: #b5b5b7;
    
    border-radius: 15px;
}

#u1491-des
{
	background-color: transparent;
    color: white;
    line-height: 48px;
    margin-right: -10000px;
    margin-top: 0;
    position: relative;
    width: 190px;
    z-index: 22;
}

#comtiT
{
	padding: 18px 45px 22px;
    position: relative;
    
    width: 16%;
}

#comtiC
{
	padding: 18px 45px 22px;
    position: relative;
    
    width: 16%;
}

.ProyeImg
{
	border-color: #3796c8;
    border-radius: 15px;
    height: 430px;
    left: 90px;
    margin-right: -10000px;
    position: relative;
    width: 700px;
    z-index: 86;
}
.menu
{
	color: black!important;
	line-height: 40px!important;
	font-family: "MAXWELLREGULAR", sans-serif !important;
}

.menu p:hover
{
	background-color: #E6E7E9;
	border-radius: 15px;
	font-family: "MAXWELLREGULAR", sans-serif !important;
}

#u1180-6
{
	background-color: transparent;
    color: black;
    font-size: 200%;
    left: 1px;
    line-height: 25px;
    margin-right: -10000px;
    min-height: 62px;
    position: relative;
    text-align: left;
    width: 700px;
    z-index: 86;
    top:-1em;
}

#u1180-com
{
	background-color: transparent;
    color: black;
    font-size: 200%;
    left: -4em;
    line-height: 50px;
    margin-right: -10000px;
    margin-top: 0;
    position: relative;
    text-align: center;
    width: 300px;
    z-index: 87;
}

#u1180-tie
{
	background-color: transparent;
    color: black;
    font-size: 200%;
    left: 4em;
    line-height: 50px;
    margin-right: -10000px;
    margin-top: 0;
    min-height: 62px;
    padding-bottom: 1.5em;
    position: relative;
    text-align: center;
    width: 300px;
    z-index: 87;
}
#u1180-text
{
	background-color: transparent;
    color: black;
    font-size: 150%;
    left: -3em;
    line-height: 30px;
    margin-right: -10000px;
    margin-top: 5.5em;
    min-height: 62px;
    padding-bottom: 1.5em;
    position: relative;
    text-align: left;
    width: 440px;
    z-index: 87;
}

#u1148
{
	background: transparent url("../images/proyectos/Afinadormusical.jpg") no-repeat left center;
	background-size: cover;
}

#u1181-8
{
	z-index: 93;
	width: 229px;
	min-height: 93px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #4C4C4C;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
	left: 21px;
}

#buttonu1202
{
	z-index: 113;
	width: 490px;
	height: 300px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #buttonu1202
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu1202:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.3);
}

.ie #buttonu186.ButtonSelected #u188,.ie #buttonu1202:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu1202.ButtonSelected
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#pu1146,#pu1147
{
	width: 0.01px;
}

#u1147
{
	background-color: #8bc53f;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    border-color: #78797c;
    border-style: solid;
    border-width: 0 7px 7px;
    left: 90px;
    margin-right: -10000px;
    padding-bottom: 0;
    position: relative;
    top: 258px;
    width: 574px;
    z-index: 84;
}

#u1183-6
{
	background-color: transparent;
    font-size: 25px;
    left: 1px;
    line-height: 60px;
    margin-right: -10000px;
    margin-top: 0;
    min-height: 62px;
    padding-bottom: 1.5em;
    position: relative;
    text-align: center;
    width: 573px;
    z-index: 87;
}

#u1149
{
	z-index: 85;
	width: 230px;
	height: 252px;
	border-color: #78797c;
	position: relative;
	margin-right: -10000px;
	left: 90px;
	background: transparent url("../images/diy-mario.jpg") no-repeat left center;
	background-size: cover;
}

#u1184-6
{
	z-index: 107;
	width: 229px;
	min-height: 130px;
	background-color: transparent;
	line-height: 24px;
	text-align: left;
	font-size: 24px;
	color: #8BC53F;
	position: relative;
	margin-right: -10000px;
	margin-top: 133px;
	left: 21px;
}

#buttonu1239
{
	z-index: 114;
	width: 490px;
	height: 300px;
	border-color: #787878;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

.ie #buttonu1202.ButtonSelected,.ie #buttonu1239
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#buttonu1239:hover
{
	background-color: #FFFFFF;
	background-color: rgba(255, 255, 255, 0.3);
	margin: 0px -10000px 0px 0px;
	-pie-background: rgba(255, 255, 255, 0.3);
}

.ie #buttonu1239:hover
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
}

#buttonu1239.ButtonSelected
{
	background-color: transparent;
	margin: 0px -10000px 0px 0px;
}

#u1154
{
	z-index: 115;
	width: 5px;
	position: relative;
	margin-right: -10000px;
}

#u1155
{
	position: absolute;
	width: 5px;
	height: 5px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

.ie #buttonu1239.ButtonSelected,.ie #u1155
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1155:hover
{
	border-style: none;
	border-color: transparent;
	margin: 0px;
}

.ie #u1155:hover
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u1155.PamphletThumbSelected
{
	margin: 0px;
}

.ie #u1155.PamphletThumbSelected
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

.SSFirstButton,.SSPreviousButton,.SSNextButton,.SSLastButton,.SSSlideLink,.SSCloseButton,.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* slideshowFreeStyle */
{
	cursor: pointer;
}

#pu397,#pu1492
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -1px;
}

#u1492
{
	z-index: 28;
	border-color: #000000;
	background-color: #8BC540;
	padding-bottom: 164px;
}

#u504-6
{
	z-index: 29;
	width: 460px;
	min-height: 113px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	color: #5B5B5B;
	position: relative;
	margin-right: -10000px;
	margin-top: 98px;
	left: 100px;
}

#u2556-6
{
	z-index: 71;
	width: 460px;
	min-height: 70px;
	background-color: transparent;
	line-height: 30px;
	font-size: 25px;
	color: #5B5B5B;
	position: relative;
	margin-right: -10000px;
	margin-top: 166px;
	left: 580px;
}

#u1492-bw
{
	z-index: 28;
	height: 236px;
}

#widgetu2536
{
	z-index: 36;
	width: 0.01px;
	height: 122px;
	position: relative;
	margin-right: -10000px;
	margin-top: 207px;
	left: 100px;
}

#widgetu2538
{
	z-index: 37;
	width: 306px;
	height: 80px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#widgetu2538.fld-err-st
{
	background-color: transparent;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-khtml-border-radius: 0px;
	border-radius: 0px;
	margin: 1px -10000px 0px 0px;
}

#u2539-4
{
	z-index: 38;
	width: 281px;
	min-height: 40px;
	border-color: #C4C4C4;
	background-color: #EDEDED;
	-moz-border-radius: 8px 0px 0px 8px ;
	-webkit-border-radius: 8px 0px 0px 8px ;
	-khtml-border-radius: 8px 0px 0px 8px ;
	border-radius: 8px 0px 0px 8px ;
	line-height: 36px;
	text-align: left;
	font-size: 30px;
	color: #CAC9C9;
	position: relative;
	margin-right: -10000px;
	padding: 20px 10px 20px 15px;
}

#widgetu2538.non-empty-st #u2539-4
{
	background-color: #FFFFFF;
}

#widgetu2538:hover #u2539-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2538.focus-st #u2539-4
{
	border-color: #6B6B6B;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2538.fld-err-st #u2539-4
{
	border-color: #D7244C;
	background-color: #FFFFFF;
	padding-top: 20px;
	padding-bottom: 20px;
	min-height: 40px;
	margin: 0px -10000px 0px 0px;
}

#widgetu2538.non-empty-st #u2539-4 *
{
	color: #4F4F4F;
}

#widgetu2538:hover #u2539-4 *
{
	color: #4F4F4F;
}

#widgetu2538.focus-st #u2539-4 *
{
	color: #4F4F4F;
}

#widgetu2538.fld-err-st #u2539-4 *
{
	color: #D7244C;
	font-style: italic;
}

#widgetu2538_input,#widgetu2538_prompt
{
	width: 281px;
	min-height: 40px;
	color: #CAC9C9;
	text-align: left;
	font-size: 30px;
	padding: 20px 10px 20px 15px;
}

#widgetu2538:hover #widgetu2538_input,#widgetu2538.focus-st #widgetu2538_input,#widgetu2538.fld-err-st #widgetu2538_input,#widgetu2538:hover #widgetu2538_prompt,#widgetu2538.focus-st #widgetu2538_prompt,#widgetu2538.fld-err-st #widgetu2538_prompt
{
	padding-top: 20px;
	padding-bottom: 20px;
}

#widgetu2538.non-empty-st #widgetu2538_prompt
{
	visibility: hidden;
}

#u2537-4
{
	z-index: 42;
	width: 460px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 17px;
	text-align: center;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
}

#widgetu2536.frm-sub-st #u2537-4 p
{
	color: #4C4C4C;
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	padding: 0px;
}

#u2544-4
{
	z-index: 46;
	width: 460px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	font-size: 12px;
	color: #ED1C24;
	line-height: 14px;
	text-align: center;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
}

#widgetu2536.frm-subm-err-st #u2544-4 p
{
	color: #ED1C24;
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	padding: 0px;
}

#u2543-4
{
	z-index: 50;
	width: 460px;
	min-height: 21px;
	background-color: transparent;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	padding-top: 4px;
	line-height: 17px;
	color: #EDEDED;
	text-align: center;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 97px;
}

#widgetu2536.frm-sub-st #u2537-4,#widgetu2536.frm-subm-err-st #u2544-4,#widgetu2536.frm-subm-ok-st #u2543-4
{
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	min-height: 25px;
}

#widgetu2536.frm-subm-ok-st #u2543-4 p
{
	color: #EDEDED;
	text-align: center;
	font-size: 14px;
	line-height: 1.2;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-style: italic;
	padding: 0px;
}

#u2542-17
{
	z-index: 54;
	min-height: 82px;
	width: 162px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 299px;
	background: url("../images/u2542-17.png") no-repeat 0px 0px;
}

#u2542-17:hover
{
	background: url("../images/u2542-17-r.png") no-repeat 0px 0px;
}

#u2542-17:active
{
	background: url("../images/u2542-17-m.png") no-repeat 0px 0px;
}

#widgetu2536.frm-sub-st #u2542-17
{
	background: url("../images/u2542-17-fs.png") no-repeat 0px 0px;
}

#pu225
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: -2px;
}

#u225
{
	z-index: 245;
	border-color: #000000;

	background: transparent url("../images/footer-pattern.jpg") repeat-x left center;
	top:92.1em;
}

#u232-4
{
	z-index: 246;
	width: 699px;
	min-height: 50px;
	background-color: transparent;
	line-height: 36px;
	font-size: 30px;
	color: #EDEDED;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 221px;
}

#u225-bw
{
	z-index: 245;
	height: 144px;
}

#u233
{
	z-index: 251;
	height: 53px;
	width: 53px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 454px;
	background: url("../images/icono-facebook-u233.png") no-repeat 0px 0px;
}

#u233:hover
{
	background: url("../images/icono-facebook-u233-r.png") no-repeat 0px 0px;
}

#u240
{
	z-index: 254;
	height: 53px;
	width: 53px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 544px;
	background: url("../images/icono-twitter-u240.png") no-repeat 0px 0px;
}

#u240:hover
{
	background: url("../images/icono-twitter-u240-r.png") no-repeat 0px 0px;
}

#u241
{
	z-index: 257;
	height: 53px;
	width: 53px;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 100px;
	left: 634px;
	background: url("../images/icono-gplus-u241.png") no-repeat 0px 0px;
}

#u241:hover
{
	background: url("../images/icono-gplus-u241-r.png") no-repeat 0px 0px;
}

#u254
{
	z-index: 259;
	border-color: #000000;
	background-color: #EDEDED;
	padding-bottom: 7px;
}

#u125_align_to_page,#u397_align_to_page,#u1395_align_to_page,#u421_align_to_page,#u1492_align_to_page,#u225_align_to_page,#u254_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 940px;
	position: relative;
	left: -100px;
}

#u264-10
{
	z-index: 260;
	width: 414px;
	min-height: 23px;
	background-color: transparent;
	line-height: 17px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 100px;
}

#u538
{
	z-index: 284;
	width: 470px;
	min-height: 74px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 21px;
	left: 570px;
}

#u254-bw
{
	z-index: 259;
	height: 95px;
}

body
{
	position: relative;
	min-width: 940px;
	padding-bottom: 400px;
}

#Stage_Text3Copy
{
	top:244px!important;
}

@media screen and (max-width: 900px) {
    #pamphletu1143
    {

    	left:1105px;
    }
    body{
    	overflow-x:scroll!important; 
    }
}