header {
    background-color: white;
}

body {
    background-color: white;
}

#slideim1 img { 
 height: auto;
 width: auto;  
}

#tituloPrincipal .orbit-container
{
  width: 70%;
}

.orbit-container{
 width: 100%;   
}

.orbit-container .orbit-prev span,
.orbit-container .orbit-next span {
    color: #3796C8;
    border: none;
    font-size: 140px;
    text-indent: 0;
    margin-top: -32px;
}

.orbit-container .orbit-prev:hover {
      background-color: transparent;
}

.orbit-container .orbit-prev {
    background-color: transparent;
}
.orbit-container .orbit-prev span:before {
    content: "\2039";
}

.orbit-container .orbit-next:hover {
      background-color: transparent;
}

.orbit-container .orbit-next {
    background-color: transparent;
    margin-right: 20px;
}
.orbit-container .orbit-next span:before {
    content: "\203A";
}
.orbit-container .orbit-bullets {
    margin-bottom:5px;
}

#editor { 
  margin-left: 15px;
  margin-top: 15px;
  height: 400px;
 font-size: 25px;
}

#editor2 { 
  margin-left: 15px;
  margin-top: 15px;
  height: 400px;
 font-size: 25px;
}

#editor3 { 
  margin-left: 15px;
  margin-top: 15px;
  height: 400px;
 font-size: 25px;
}

#editor4 { 
  margin-left: 15px;
  margin-top: 15px;
  height: 400px;
 font-size: 25px;
}

.desKY {
    font-family: "MAXWELLREGULAR";
    font-size: 1.3rem;
    background-color: #3da8d3;
    border-radius: 15px;
}


.funct
{
  color:#006D91;
}

.numfun
{
  color:#006D91;
  font-family: "MAXWELLBOLD";
}

.param
{
  color:#BB2462;
}

.functcomp
{
  color:#000000;
}

.especF
{
  list-style-image: url('http://briko.cc/images/flechitasbb2.png');
  color: #000000;
  font-family: "MAXWELLREGULAR";
}

.libk
{
  font-size: 2em;
  color: #000000;
  font-family: "MAXWELLREGULAR";
}

.pclassbk {
    display:block;
    color: #000000;
    font-size: 1.7em;
    font-family: "MAXWELLREGULAR";
}

.h1classbk {
    display:block;
    color: #006D91;
    font-family: "MAXWELLBOLD";
}

.h1classbk2 {
    display:block;
    color: #000000;
    font-family: "MAXWELLBOLD";
}

.h1classbk3 {
    display:block;
    color: #000000;
    font-family: "MAXWELLBOLD";
    font-size: 1.8em;
}

.h1classbk4 {
    display:block;
    color: #000000;
    font-family: "MAXWELLBOLD";
    font-size: .5em;
}

.h1classbk5 {
    display:block;
    color: #ffffff;
    font-family: "MAXWELLBOLD";
    font-size: 3em;
}

.h1classbk6 {
    display:block;
    color: #ffffff;
    font-family: "MAXWELLBOLD";
    font-size: 1.5em;
}

.h1classbk7 {
    display:block;
    color: #ffffff;
    font-family: "MAXWELLREGULAR";
    font-size: 3em;
}

.h2classbk {
    display:block;
    color: #000000;
    font-family: "MAXWELLBOLD";
    font-size: 1.8em;
}

.libk2
{
  font-size: 2em;
  color: #000000;
  font-family: "MAXWELLREGULAR";
  cursor:move;
}

.spanbkspe {
    font-size: 1.3em;
    color:#BB2462;
    font-family: "MAXWELLBOLD";
}

.spanbkspe2 {
    font-size: 1em;
    color:#BB2462;
    font-family: "ChromeBlack-Normal";
}

.spanbkspe3 {
    font-size: 1.3em;
    color:#C7C9C8;
    font-family: "ChromeBlack-Normal";
}

.tabs dd.active a, .tabs .tab-title.active a {
     background-color: #006D91;
     font-weight: bold;
     color: #ffffff;
}

.tabs dd > a, .tabs .tab-title > a {
    display: block;
    font-weight: bold;
    background-color: #EFEFEF;
    color: #222222;
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 1rem;
    padding: 1rem 2rem;
}

ul.tabs {
    text-align: center;
}

ul.tabs li {
    float: none !important;
    display: inline-block;
}