header {
    background-color: white;
}

body {
    background-color: white;
}

.desKY {
    font-family: "MAXWELLREGULAR";
    font-size: 1.8rem;
    background-color: #3da8d3;
    border-radius: 15px;
}

.param
{
  color:#BB2462;
}

.functcomp
{
  color:#000000;
  font-size: 1.2em;
}

.especF
{
  list-style-image: url('http://briko.cc/images/flechitasbb2.png');
  color:black;
  font-size: 1.21em;
}

.funct
{
  color:#006D91;
}

.comment
{
  color:gray;
  font-style: italic;  
}

#listContainer{
  margin-top:15px;
}
 
#expListaprende ul{
    list-style: none;
    margin:0;
    padding:0;
    cursor: pointer;
    color:#3da8d3;
}

#expListaprende p {
    margin:0;
    display:block;
    color: #000000;
}
#expListaprende p:hover {
    cursor: default;
}
#expListaprende li {
    list-style-image: url('http://briko.cc/images/flechitasbb2.png');
    margin:0;
    line-height:140%;
    text-indent:0px;
    background-position: 1px 8px;
    padding-left: 10px;
    background-repeat: no-repeat;
    cursor: pointer;
    font-size: 1.4em;
    color:#3da8d3;
}

.editoraprende { 
  margin-left: 15px;
  margin-top: 15px;
  height: 200px;
 font-size: 15px;
}

.h1classbk2 {
    display:block;
    color: #006D91;
    font-family: "MAXWELLBOLD";
}

.brikospanp{
    padding-left:10px;
    padding-right:10px;
    color: white;
    font-family: "MAXWELLREGULAR";
    font-size: 1.6rem;
    background-color: #3da8d3;
    border-radius: 15px;
}

.codep {
    font-family: "MAXWELLREGULAR";
    font-size: 1.4em;
    background-color: #EBEBEB;
    border-radius: 5px;
}

.botonrespuesta {
    margin-top: 15px;
}

.panel {
    margin-bottom: 1.25rem;
    padding: 1.25rem;
    color: #000000;
    background-color: #EBEBEB;
    border-radius: 5px;
  }

.subT
{
  color:#C93D76!important;
}


