/* 
	jQuery Logo Slider Ticker 
	by http://webdesignandsuch.com
	build with code from http://bxslider.com
*/


#slider {
	list-style:none;
	padding:0px
}

.slider-container { 
	background:transparent; 
	width:100%; 
	height:100px; 
	padding:0px; 
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px; 
}

#slider img { 
	width:100%; 
	height:100px; 
	margin:10px; 
	display:inline-block  
}


.bx-wrapper
{
	width: 100%!important;
}
.bx-window
{
	width: 100%!important;
}

#logo1
{
	width: 100px!important;
	margin:0 3em;
}
#logo2
{
	width: 150px!important;
	margin:0 3em;
}
#logo3
{
	width: 150px!important;
	margin:0 3em;
}
#logo4
{
	
	width: 150px!important;
	margin:0 3em;
}
#logo5
{
	width: 159px!important;
	
	margin:0 3em;
}
#logo6
{
	width: 135px!important;
	margin:0 3em;
}
#logo7
{
	width: 150px!important;
	margin:0 3em;
}
#logo8
{
	width: 150px!important;
	margin:0 3em;
}
#logo9
{
	width: 126px!important;
	margin:0 3em;
}
#logo10
{
	width: 150px!important;
	margin:0 3em;
}
#logo11
{
	width: 150px!important;
	margin:0 3em;
}
#logo12
{
	width: 150px!important;
	margin:0 3em;
}
#logo13
{
	width: 150px!important;
	margin:0 3em;
}
#logo14
{
	width: 150px!important;
	margin:0 3em;
}
#logo16
{
	width: 150px!important;
	margin:0 3em;
}
#logo17
{
	width: 150px!important;
	margin:0 3em;
}
#logo18
{
	width: 150px!important;
	margin:0 3em;
}
#logo19
{
	width: 98px!important;
	margin:0 3em;
}

#logo20
{
	width: 150px!important;
	margin:0 3em;
}

#logo21
{
	width: 150px!important;
	margin:0 3em;
}

#logo22
{
	width: 120px!important;
	margin:0 3em;
}

#logo23
{
	width: 150px!important;
	margin:0 3em;
}

#logo24
{
	width: 150px!important;
	margin:0 3em;
}
