/*para hacer que salgan los letreros a la izquierda de las imagenes al hacer hover en ellas */
.tt-wrapper .div_hover .tooltiplabel {
	width: 100%;
	height: auto;
	padding: 10px;
	margin-left: 85%;
    margin-top: -40%;
	font-family: "MAXWELLBOLD";	
	font-size: 20px;
	color: black;
	text-shadow: 1px 1px 1px rgba(0, 0, 0,0);
	text-align: left ;
	border: none;
	background: rgba(255,255,255,0);
	text-indent: 0px;
	position: absolute;
	pointer-events: none;
	opacity: 0;
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: rotate(0deg) scale(0);
	-moz-transform: rotate(0deg) scale(0);
	-o-transform: rotate(0deg) scale(0);
	-ms-transform: rotate(0deg) scale(0);
	transform: rotate(0deg) scale(0);

}
.tt-wrapper .div_hover:hover .tooltiplabel{
	opacity: 0.9;
	-webkit-transform: rotate(0deg) scale(1);
	-moz-transform: rotate(0deg) scale(1);
	-o-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
}


.tt-wrapper .div_hover .tooltiplabel2 {
	width: 100%;
	height: auto;
	padding: 10px;
	margin-left: -100%;
    margin-top: -40%;
	font-family: "MAXWELLBOLD";
    color: black;
	font-size: 20px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
	text-align: right ;
	border: none;
	background: rgba(255,255,255,0);
	text-indent: 0px;
	position: absolute;
	pointer-events: none;
	opacity: 0;
	box-shadow: 0px 0px 0px rgba(0,0,0,0);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transform: rotate(0deg) scale(0);
	-moz-transform: rotate(0deg) scale(0);
	-o-transform: rotate(0deg) scale(0);
	-ms-transform: rotate(0deg) scale(0);
	transform: rotate(0deg) scale(0);

}
.tt-wrapper .div_hover:hover .tooltiplabel2{
	opacity: 0.9;
	-webkit-transform: rotate(0deg) scale(1);
	-moz-transform: rotate(0deg) scale(1);
	-o-transform: rotate(0deg) scale(1);
	-ms-transform: rotate(0deg) scale(1);
	transform: rotate(0deg) scale(1);
}

