/* postmeta */
.postmeta {	
	padding: 5px; margin: 20px 10px 15px 10px;	
	font-size: 1em;	
	color: #777;
	border: 1px solid #EBEBEB;
	background: #F5F5F5;
	font-family: "Helvetica";
}
.postmeta a { font-family: "Helvetica"; background: transparent; }
.postmeta .date{ font-family: "Helvetica";margin: 0 10px 0 5px;	}
.postmeta a.comments { font-family: "Helvetica";margin: 0 10px 0 5px;	}
.postmeta a.readmore { font-family: "Helvetica";margin: 0 10px 0 5px;	}

.post-info { font-family: "Helvetica";font-size: .95em; padding-top: 3px; margin-left: 5px; color: #bababa; }
.post-info a { font-family: "Helvetica";color: #000; }


/* content wrapper*/
#content-wrapper {
	width: 940px;
	margin: 0 auto;	
	text-align: left;
}
#content {
	float: left;
	width: 100%;
	background: #fff url(../img/content-bg.jpg) no-repeat;		
}
.flechitasPost
{
	margin-bottom: 5px;
}
#content h1
{
	font-family: "MAXWELLREGULAR"!important;
}

#content p
{
	font-family: "Helvetica";
}

a:hover {
	background: #F0f0f0; 
	color: #000;
	border-bottom: 1px dotted #000;
}
a {
	text-decoration: none;
}

.entrada
{
	text-align: justify;
	padding: 0 3em;
	color: black;
}

.comentarioDiv
{
	text-align: justify;
	padding: 0 1em;
	color: black;
}


