@font-face{
  font-family: "MAXWELLBOLD";
  src: url(MAXWELLBOLD.ttf) format("truetype");
}
@font-face{
  font-family: "MAXWELLREGULAR";
  src: url(MAXWELLREGULAR.ttf) format("truetype");
}
h2 { font-family: "MAXWELLREGULAR", sans-serif !important;}
h1 { font-family: "MAXWELLBOLD", sans-serif !important;}
p,div { font-family: "MAXWELLREGULAR", sans-serif !important;}